<div *ngIf="reading">
  <div class="card ">
    <div class="card-title-bar">
      <div>
        <span class="card-title">Scripture</span>
        <span *ngIf="includeReadingsDropdown()" class="right">
          <a materialize="dropdown"
             [materializeParams]="[{alignment:'right'}]"
             class='dropdown-button waves-effect btn-flat'
             data-activates='todaysReadingsDropdownMenu'>
                <span class="right-align grey-text text-lighten-4">
                    Today's Readings
                  <i class="material-icons lr-arrow">arrow_drop_down</i>
                </span>
          </a>
        </span>
      </div>
    </div>
    <div class="card-content">

    <!--
      <span class="right-align version-drop-down">
        <a materialize="dropdown"
           [materializeParams]="[{alignment:'right'}]"
           class='dropdown-button waves-effect btn-flat'
           data-activates='todaysReadingsDropdownMenu'>
              <span>
                  Today's Readings
                <i class="material-icons lr-arrow">arrow_drop_down</i>
              </span>
        </a>
      </span>
      -->

      <div class="right-align version-drop-down">
        <a materialize="dropdown"
           [materializeParams]="[{alignment:'right'}]"
           class='dropdown-button waves-effect btn-flat'
           data-activates='versionsDropdownMenu'>
              <span>
                  {{reading.version.title}} <!--{{readingsData.readings[currentReadingIndex].std_ref}}-->
                <i class="material-icons lr-arrow">arrow_drop_down</i>
              </span>
        </a>
      </div>

      <div class="card-title">{{ reading.stdRef }}</div>
      <br>
<!--
      <div class="card-title">{{ reading.stdRef }}
        <!--
        <div class="hide-on-med-and-up">
          <div *ngIf="hideContent">
            <a (click)="toggleHideContent()">
              <i class="material-icons lr-arrow">add_circle_outline</i>
            </a>
          </div>
        </div>

      </div>
      <br>
      -->
      <!--hideContent: {{hideContent}}-->
      <div class="flow-text">
        <div [innerHTML]="reading.text"></div>
      </div>
      <!-- <p [innerHTML]="reading.text | truncate : 25"></p> ...this truncates it, if necessary -->

      <!--
      <div class="hide-on-med-and-up">
        small
        <div *ngIf="!hideContent">
          <div class="flow-text">
            <div [innerHTML]="reading.text"></div>
          </div>
        </div>
      </div>
      <div class="hide-on-small-only">
        med or large
        <div class="flow-text">
          <div [innerHTML]="reading.text"></div>
        </div>
      </div>
      -->
    </div>

    <div *ngIf="includeNavigationButtons()" class="card-action">
      <a href="javascript:void(0)" *ngIf="showPreviousButton()" (click)="previousReading()"> <i class="material-icons lr-arrow">navigate_before</i> Previous</a>
      <a></a> <!-- this is here b/c otherwise the vertical spacing gets messed up by the class="right" statement in the following (if Next is all that shows up) -->
      <a href="javascript:void(0)" *ngIf="showNextButton()" (click)="nextReading()" class="right">Next <i class="material-icons lr-arrow">navigate_next</i></a>
    </div>

  </div>

</div>


<!-- Dropdown Structure -->
<ul id='versionsDropdownMenu' class='dropdown-content'>
  <li *ngFor="let version of selectableVersions">
    <a (click)="updateReadingsNewVersion(version)">
      {{version.title}}
    </a>
  </li>
</ul>

<!-- Dropdown Structure -->
<ul id='todaysReadingsDropdownMenu' class='dropdown-content'>
  <li *ngFor="let reading of todaysReadings; let i=index">
    <a (click)="goToReading(i)">
      {{reading}}
    </a>
  </li>
</ul>
