<div *ngIf="reading">
  <div class="card ">
    <!-- I can't figure out how to get a title bar in a solid color, so I'm cheating and using the card-action class -->
    <div class="card-title-bar">
      <div class="card-title">Scripture</div>
    </div>
    <div class="card-content">
      <div class="card-title">{{ reading.stdRef }}
        <!--
        <div class="hide-on-med-and-up">
          <div *ngIf="hideContent">
            <a (click)="toggleHideContent()">
              <i class="material-icons lr-arrow">add_circle_outline</i>
            </a>
          </div>
        </div>
        -->
      </div>
      <br>
      <!--hideContent: {{hideContent}}-->
      <div class="flow-text">
        <div [innerHTML]="reading.text"></div>
      </div>
      <!-- <p [innerHTML]="reading.text | truncate : 25"></p> ...this truncates it, if necessary -->

      <!--
      <div class="hide-on-med-and-up">
        small
        <div *ngIf="!hideContent">
          <div class="flow-text">
            <div [innerHTML]="reading.text"></div>
          </div>
        </div>
      </div>
      <div class="hide-on-small-only">
        med or large
        <div class="flow-text">
          <div [innerHTML]="reading.text"></div>
        </div>
      </div>
      -->
    </div>

    <div *ngIf="includeNavigationButtons()" class="card-action">
      <a *ngIf="showPreviousButton()" (click)="previousReading()"> <i class="material-icons lr-arrow">navigate_before</i> Previous</a>
      <a></a> <!-- this is here b/c otherwise the vertical spacing gets messed up by the class="right" statement in the following (if Next is all that shows up) -->
      <a *ngIf="showNextButton()" (click)="nextReading()" class="right">Next <i class="material-icons lr-arrow">navigate_next</i></a>
    </div>

  </div>

</div>
