<!-- *ngIf="resources.length > 0"-->

<div #carouselSlider
     class="carousel carousel-slider carousel-custom"
     [ngClass]="{ 'initialized': showInitialized }"
     data-indicators="true"
     materialize="carousel"
     [materializeParams]="[{fullWidth: true, onCycleTo: carouselCycled }]"
>


  <div class="carousel-fixed-item right-align carousel-custom-fixed">
    <i class="material-icons white-text medium" (click)="openResourceModal()">fullscreen</i>
  </div>


  <!--
  <div class="carousel-fixed-item center">
    <i class="material-icons white-text medium">art_track</i>
  </div>
  -->
  <div *ngFor="let resource of resources; let i=index"
       class="carousel-item indigo lighten-3"
       [attr.data-carousel-index]="i">
    <div class="row">
      <div class="col s12 center">
        <div class="image">
          <img
            [src]="resource.fileUrl"
            [alt]="resource.title"
            [attr.width]="determineWidth(i)"
            [attr.height]="determineHeight(i)"
          />
          <h5 class="image-title"><span class="image-title-text">{{resource.title}}</span></h5>
          <!--
          <div class="launch-modal-button">
            <i class="material-icons white-text" (click)="openResourceModal(i)">fullscreen</i>
          </div>
          -->
        </div>
      </div>
    </div>
    <!--
    <h5>{{resource.caption}}</h5>
    <div [innerHTML]="resource.description"></div>
    <img
      [src]="resource.fileUrl"
      [alt]="resource.caption"/>
      -->
  </div>
</div>

<a class="waves-effect waves-light btn" (click)="logIndex()">carousel index</a>

<div appResourceItemModalAnchor></div>

<!--
<div class="row">
      <div class="col s12 m6 l7 center" #carouselSlider>
        <img
          [src]="resource.fileUrl"
          [alt]="resource.caption"
          width="100%"/>
      </div>
      <div class="col s12 m6 l5 media-data">
        <h5>{{resource.caption}}</h5>
        <div><strong>Artist: </strong> {{resource.author}}</div>
        <div><strong>Date: </strong> {{resource.date}}</div>
        <div> - Click image for more information - </div>


        <div><strong>Description: </strong>
          <span [innerHTML]="resource.description | truncate : 10"></span>
        </div>
        <div><strong>Date: </strong> {{resource.date}}</div>
        <div><strong>Medium: </strong> {{resource.medium}}</div>
        <div><strong>Size: </strong> {{resource.dimensions}}</div>
        <div><strong>Location: </strong> {{resource.currentLocation}}</div>

        <div [innerHTML]="resource.description"></div>

      </div>
-->
