.warning-background {
  background-color: rgba(255,0,0,0.1);
}

.user-exists-warning {
  /*background: rgba(255,0,0,0.1);*/
  /*border: 2px solid rgba(255,0,0,0.3);*/
  padding: 10px 40px;
  /*height: 100px;*/
  border-radius: 25px;
  /*color: #c62828;*/
}

/* invalid color */
.warning {
  color: #c62828;
}
