<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      {{resourceCollection.title}}
    </div>
    <div class="collapsible-body">
      <div class="text-area-wrapper non-edit-mode">
        <span><b>Description:</b> {{resourceCollection.description}}</span>
        <div *ngFor="let resource of resourceCollection.resources">
          <app-update-resource-item
            [resource]="resource"
            [resourcePath]="resourcePath">
          </app-update-resource-item>
        </div>
        <!-- Modal Trigger -->
        <a #myModalResourcePicker
           class="waves-effect waves-teal btn-flat"
           materialize="leanModal"
           [materializeParams]="[{dismissible: true}]"
           href="#modalEditResource{{resourceCollection.id}}"> Edit
        </a>
      </div>
    </div>
  </li>
</ul>

<!-- Modal Structure -->
<div id="modalEditResource{{resourceCollection.id}}" class="modal">
  <div class="modal-content">
    <h5>Edit Resource(s)</h5>
    <!-- NOTE: modalID is used to close the modal programmatically at the end -->
    <app-upload-resource
      [newCollection]="false"
      [modalID]="'modalEditResource'+resourceCollection.id"
      (onFinished)="onModalFinished($event)"
      [resourceCollection]="resourceCollection"
      [resourcePath]="resourcePath">
    </app-upload-resource>

  </div>
</div>
