<!-- Secondary navbar -->
<!-- NEXT: figure out how to remove vertical padding in row -->
<!-- Might eventually want to make this secondary navbar its own component -->
<div *ngIf="initializationComplete">
  <div class="container hide-on-med-and-down">
    <div class="card ">
      <div class="card-content">
        <div class="row">
          <div class="col s3 center-align verticalRightLine">
            <a materialize="dropdown"
               class='dropdown-button'
               data-activates='readingsDropdownMenu'>
              <span *ngIf="initializationComplete" class="card-title grey-text">
                  Readings <!--{{readingsData.readings[currentReadingIndex].std_ref}}-->
                <i class="material-icons right">arrow_drop_down</i>
              </span>
            </a>
          </div>
          <div class="col s3 center-align verticalRightLine">
            <a materialize="dropdown"
               class='dropdown-button'
               data-activates='translationsDropdownMenu'>
              <span *ngIf="initializationComplete" class="card-title grey-text">
                  Translation <!--{{readingsData.readings[currentReadingIndex].std_ref}}-->
                <i class="material-icons right">arrow_drop_down</i>
              </span>
            </a>
          </div>
          <!--
          <div class="col s1 center-align verticalRightLine">
            <span class="card-title materialize-red-text lighten-2">
                <i class="material-icons">favorite_border</i>
            </span>
          </div>
          -->
          <div class="col s5 center-align switch">
            <label class="card-title grey-text" >
              Scripture Engagement
              <input type="checkbox" [checked]="showPractices(engageScripture)" (change)="updateScriptureEngagement()">
                <span class="lever"></span>
            </label>
          </div>
          <!--
          <div class="col s2 center-align">
            <span class="card-title grey-text">
                Timeline <i class="material-icons">call_made</i>
            </span>
          </div>
          -->

        </div>
      </div>
    </div>
  </div>
</div>


<nav class="hide-on-large-only nav-wrapper grey lighten-5">
  <a #readingsSideNav
     materialize="sideNav"
     [materializeParams]="[{edge:'right', closeOnClick: true}]"
     href="#"
     data-activates="slide-out2"
     class="button-collapse grey-text right">
    <i class="mdi-navigation-menu material-icons">more_vert</i>
  </a>
  <div class="switch right">
    <label class="grey-text secondary-nav" >
      Scripture Engagement
      <input type="checkbox" [checked]="showPractices(engageScripture)" (change)="updateScriptureEngagement()">
      <span class="lever"></span>
    </label>
  </div>
  <ul id="slide-out2" class="side-nav">
    <li>
      <a (click)="toggleReadingsDropdown($event)" class="waves-effect">
        Readings
      </a>
      <ul *ngIf="showReadingsDropdown" class="nav-bar-submenu">
        <li *ngFor="let readingDescription of readingDescriptions">
          <a (click)="onReadingUpdated(readingDescription.index)">
            {{readingDescription.description}}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a (click)="toggleTranslationsDropdown($event)" class="waves-effect">
        Translations
      </a>
      <ul *ngIf="showTranslationsDropdown" class="nav-bar-submenu">
        <li *ngFor="let translation of translations">
          <a>
            {{translation}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>



<!-- Current reading, possibly with practice types shown -->
  <div class="container row">
    <div *ngIf="initializationComplete ">
      <div *ngIf="!showPractices(engageScripture)" class="col s12">
        <app-reading-item
          [includeNavigationBar]=true
          [reading]="readingsData.readings[currentReadingIndex]"
          [numberReadings] = "numberReadings"
          [currentReadingIndex] = "currentReadingIndex"
          [engageScripture] = "engageScripture"
          [dateString] = "dateString"
        >
        </app-reading-item>
      </div>

      <!--
          small devices
      -->
      <div class="hide-on-med-and-up">
        <div *ngIf="showPractices(engageScripture)" class="col s12 m6 l5">
          <app-practice-list
            [reading]="readingsData.readings[currentReadingIndex]"
            [readingIndex] = "currentReadingIndex"
            [dateString] = "dateString"
          >
          </app-practice-list>
          <app-question-list
            [includeLinkToJournal] = true
            [questions] = "questions"
            [dateString] = "dateString"
            (openJournal) = "openJournal()"
          >
          </app-question-list>
          <div *ngIf="multiGroupPostData">
            <div *ngFor="let groupPostData of multiGroupPostData">
              <app-group-post-list
                [groupPostData] = 'groupPostData'
              >
              </app-group-post-list>
            </div>
          </div>
        </div>
        <div *ngIf="showPractices(engageScripture)" class="col s12 m6 l7">
          <app-reading-item
            [includeNavigationBar]=true
            [reading]="readingsData.readings[currentReadingIndex]"
            [numberReadings] = "numberReadings"
            [currentReadingIndex] = "currentReadingIndex"
            [engageScripture] = "engageScripture"
            [dateString] = "dateString"
          >
          </app-reading-item>
        </div>
      </div>
      <!--
          med and large devices
      -->
      <div class="hide-on-small-only">
        <div *ngIf="showPractices(engageScripture)" class="col s12 m6 l7">
          <app-reading-item
            [includeNavigationBar]=true
            [reading]="readingsData.readings[currentReadingIndex]"
            [numberReadings] = "numberReadings"
            [currentReadingIndex] = "currentReadingIndex"
            [engageScripture] = "engageScripture"
            [dateString] = "dateString"
          >
          </app-reading-item>
        </div>
        <div *ngIf="showPractices(engageScripture)" class="col s12 m6 l5">
          <app-practice-list
            [reading]="readingsData.readings[currentReadingIndex]"
            [readingIndex] = "currentReadingIndex"
            [dateString] = "dateString"
          >
          </app-practice-list>
          <app-question-list
            [includeLinkToJournal] = true
            [questions] = "questions"
            [dateString] = "dateString"
            (openJournal) = "openJournal()"
          >
          </app-question-list>

          <div *ngIf="multiGroupPostData">
            <div *ngFor="let groupPostData of multiGroupPostData">
              <app-group-post-list
                [groupPostData] = 'groupPostData'
                [groupNameInTitleBar] = true
              >
              </app-group-post-list>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

<simple-modal #sorry header="Sorry" message="No readings for today."></simple-modal>

<!-- Dropdown Structure -->
<ul id='readingsDropdownMenu' class='dropdown-content'>
  <li *ngFor="let readingDescription of readingDescriptions">
    <a (click)="onReadingUpdated(readingDescription.index)">
      {{readingDescription.description}}
    </a>
  </li>
</ul>

<!-- Dropdown Structure -->
<ul id='translationsDropdownMenu' class='dropdown-content'>
  <li *ngFor="let translation of translations">
    <a>
      {{translation}}
    </a>
  </li>
</ul>

<button (click)="getTemp()" class="btn">temp exists?</button>
