
<!-- NEXT: figure out how to remove vertical padding in row -->

<div class="container">
    <!--<div class="col s12">-->
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s4 center-align verticalRightLine">
              <a materialize="dropdown"
                 class='dropdown-button'
                 data-activates='readingsDropdownMenu'>
                <span *ngIf="initializationComplete" class="card-title grey-text">
                    {{readings[currentReadingIndex].description}}
                  <i class="material-icons right">arrow_drop_down</i>
                </span>
              </a>
            </div>
            <div class="col s1 center-align verticalRightLine">
              <span class="card-title materialize-red-text lighten-2">
                  <i class="material-icons">favorite_border</i>
              </span>
            </div>
            <div class="col s5 center-align verticalRightLine switch">
              <label class="card-title grey-text" >
                Scripture Engagement
                <input type="checkbox" [checked]="showPractices" (change)="showPractices = !showPractices">
                  <span class="lever"></span>
              </label>
            </div>
            <div class="col s2 center-align">
              <span class="card-title grey-text">
                  Timeline <i class="material-icons">call_made</i>
              </span>
            </div>

          </div>
        </div>
      </div>
    <!--</div>-->

</div>

<div class="container">
  <div class="row">
    <!--<div *ngFor="let reading of readings" class="col s12">-->
    <div *ngIf="initializationComplete ">
      <div *ngIf="!showPractices" class="col s12">
        <app-reading-item
          [includeBackButton]="includeBackButton"
          [reading]="readings[currentReadingIndex]"
          [numberReadings] = "numberReadings"
          [currentReadingIndex] = "currentReadingIndex"
          [practices]="readings[currentReadingIndex].practices"
          [resourceCollections]="readings[currentReadingIndex].resourceCollections"
          (updateReadingIndex)="onReadingUpdated($event)">
        </app-reading-item>
      </div>
      <div *ngIf="showPractices" class="col s8">
        <app-reading-item
          [includeBackButton]="includeBackButton"
          [reading]="readings[currentReadingIndex]"
          [numberReadings] = "numberReadings"
          [currentReadingIndex] = "currentReadingIndex"
          [practices]="readings[currentReadingIndex].practices"
          [resourceCollections]="readings[currentReadingIndex].resourceCollections"
          (updateReadingIndex)="onReadingUpdated($event)">
        </app-reading-item>
      </div>
      <div *ngIf="showPractices" class="col s4">
        <app-practice-list
          [reading]="readings[currentReadingIndex]"
          >
        </app-practice-list>
      </div>
    </div>
    <!--</div>-->
  </div>
</div>

<simple-modal #sorry header="Sorry" message="No readings for today."></simple-modal>

<!-- Dropdown Structure -->
<ul id='readingsDropdownMenu' class='dropdown-content'>
  <li *ngFor="let readingDescription of readingDescriptions">
    <a (click)="onReadingUpdated(readingDescription.index)">
      {{readingDescription.description}}
    </a>
  </li>
</ul>
