<!-- Secondary navbar -->
<!-- NEXT: figure out how to remove vertical padding in row -->
<!-- Might eventually want to make this secondary navbar its own component -->

<app-date-nav [dateString] = 'dateString'></app-date-nav>

<!-- Current reading, possibly with practice types shown -->
<div class="container row">
  <div *ngIf="initializationComplete ">
    <div class="center" *ngIf="readingsData">
      <h5>{{readingsData.name}}</h5>
    </div>
    <div class="col s12 m10 offset-m1 l7">
      <app-reading-item
        [todaysReadings]="todaysReadings"
        [includeNavigationBar]=true
        [reading]="readingsData.readings[currentReadingIndex]"
        [numberReadings]="numberReadings"
        [currentReadingIndex]="currentReadingIndex"
        [dateString]="dateString"
      >
      </app-reading-item>
    </div>
    <div class="col s12 m10 offset-m1 l5">
      <app-practice-list
        [reading]="readingsData.readings[currentReadingIndex]"
        [readingIndex]="currentReadingIndex"
        [dateString]="dateString"
      >
      </app-practice-list>

      <div *ngFor="let direction of readingsData.directions">
        <app-daily-practice
          [direction] = "direction"
        ></app-daily-practice>

      </div>

      <div *ngIf="multiGroupPostData && userLoggedIn()">
        <div *ngFor="let groupPostData of multiGroupPostData">
          <group-post-list
            [groupPostData]='groupPostData'
            [groupNameInTitleBar]=true
            [readingID]="readingsData.readings[currentReadingIndex].id"
            [postsClosed] = true
          >
          </group-post-list>
        </div>
      </div>

    </div>


  </div>
</div>

<simple-modal #sorry header="Sorry" message="No readings for today."></simple-modal>

<!-- Dropdown Structure -->
<ul id='readingsDropdownMenu' class='dropdown-content'>
  <li *ngFor="let readingDescription of readingDescriptions">
    <a (click)="onReadingUpdated(readingDescription.index)">
      {{readingDescription.description}}
    </a>
  </li>
</ul>

<!-- Dropdown Structure -->
<!--
<ul id='translationsDropdownMenu' class='dropdown-content'>
  <li *ngFor="let translation of translations">
    <a>
      {{translation.title}}
    </a>
  </li>
</ul>
-->
<!--
<div class="row">
  <div class="col s12">
    <ul class="tabs tabs-fixed-width" materialize="tabs">
      <li class="tab col s3"><a href="#test1">Test 1</a></li>
      <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
      <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
      <li class="tab col s3"><a href="#test4">Test 4</a></li>
      <li class="tab col s3"><a href="#test1">Test 1</a></li>
      <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
      <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
      <li class="tab col s3"><a href="#test4">Test 4</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">Test 1</div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>
</div>
-->
