
<div *ngIf="multiGroupPostData">
  <div class="container">
    <div class="row">
      <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div *ngFor="let groupPostData of multiGroupPostData" class="group-post-list-container">
          <group-post-list
            [groupPostData] = 'groupPostData'
            [groupNameInTitleBar] = false
          >
          </group-post-list>
        </div>
      </div>
    </div>
  </div>
</div>

<app-delete-item-modal
  #deletePostModal
  header="Delete Post"
  message="Are you sure you want to delete this post?"
  (deleteItem)="deleteEntry($event)"
>
</app-delete-item-modal>
