.step {
  padding-left: 10px;
}

.material-icons.lr-arrow {
  vertical-align: middle;
  padding-left: 0px;
}

/* following not working */
ul li {
  list-style-type: circle;
  padding-bottom: 10px;
}

ol li {
  list-style-type: decimal;
  padding-bottom: 10px;
}

.step-table {
  padding-top: 10px;
}

