<div class="col s12 m6 l6">
  <div id="practicesCard" class="card">
    <div class="card-content">
      <span class="card-title">Practices</span>
      <span class="right">
        <button id="addPractice" materialize="dropdown"
                class="drop-down btn"
                [class.disabled]="buttonDisabled"
                data-activates="dropdownAddNewPractice">
          Add</button>
      </span>
      <!-- Dropdown Structure for Choosing Practice -->
      <ul id='dropdownAddNewPractice' class='dropdown-content'>
        <li *ngFor="let practice of unusedPractices; let i = index">
          <a id="addPracticeDropdownLink" (click)="addPractice(practice)">
            {{ practice.title }}
          </a>
        </li>
      </ul>
      <div class='dragula-container' [dragula]='"practices-bag"' [dragulaModel]='practicesThisReading'>
        <div *ngFor="let practice of practicesThisReading">
          <app-update-practice-item
            [practice]="practice"
          ></app-update-practice-item>
        </div>
      </div>
    </div>
  </div>
</div>

