
  <app-update-practices-modal
    [currentPractice]="currentPractice"
    [textInput]="textInput"
    [unusedPractices]="unusedPractices"
    (onUpdatePractice) = "passEventUp($event)"
    (onCancel)="onModalCancel($event)"
  >
  </app-update-practices-modal>


  <div class="card col s12 m6 l6">
    <div class="card-content">
      <span class="card-title">Practices</span>
      <span class="right">
        <button materialize="dropdown"
           class="drop-down btn"
           [class.disabled]="buttonDisabled"
           data-activates="dropdownAddNewPractice">
          Add</button>
      </span>
      <!-- Dropdown Structure for Choosing Practice -->
      <ul id='dropdownAddNewPractice' class='dropdown-content'>
        <li *ngFor="let practice of unusedPractices; let i = index">
          <a (click)="addPractice(practice)">
            {{ practice.title }}
          </a>
        </li>
      </ul>

      <ul>
        <li *ngFor="let practice of practicesThisReading">

          <app-update-practice-item
            [practice]="practice"
          ></app-update-practice-item>

        </li>
      </ul>
    </div>
  </div>

