<div class="container">
<div class="row">
  <div class="col s12 m6 offset-m3 l6 offset-l3">
    <div class="card">
      <div class="card-title-bar">
        <span class="card-title">Why should I create an account?</span>
      </div>
      <div class="card-content">
        <p class="info">
          We'd like to encourage you to create a personal account on Galilee.  
          The primary benefits of having a personal account are the ability to give you access to both the Journal and Forum features of the website.  
          <a [routerLink]="['/signup']">Click here</a> to create an account.
        </p>
      </div>
      <!--
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
      -->
    </div>
  </div>
</div>
</div>