.material-icons.lr-arrow {
  vertical-align: middle;
  padding-left: 0px;
}

.reading-button {
  /*padding-right: 20px;*/
  padding-bottom: 10px;
}

.back-link {
  padding-top: 0px;
}

.action-icons {
  /*padding-right: 20px;*/
}
