.material-icons.lr-arrow {
  vertical-align: middle;
  padding-left: 0px;
}

.reading-button {
  /*padding-right: 20px;*/
  padding-bottom: 10px;
}

.back-link {
  padding-top: 0px;
}

.action-icons {
  /*padding-right: 20px;*/
}


.enable-overflow {
  overflow: visible;
  /*
  so select menu is visible outside of collection; otherwise can be cut off
  https://github.com/Dogfalo/materialize/issues/1385
  NOTE: the 'overflow: visible' property needs to be set in the correct
        bounding div for this to work...!  in this case, the actual dropdown
        menu is in a different component altogether (it is in update-direction-form)
  */
}

.current-passage {
  font-weight: bold;
}

.wide-container {
  width: 90%;
  margin-left: 5%;
}

.zero-practices {
  /* https://stackoverflow.com/questions/14338639/equal-margin-on-both-sides-of-element-in-responsive-layout */
  margin: 0 auto;
  line-height: 30px;
  width: 40px;
  background-color: #ffcdd2;
  border-radius: 4px;
  text-align: center;
  height: 30px;
}

.zero-practices-editing {
  @extend .zero-practices;
  background-color: #80deea;

}

