<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3 l6 offset-l3">
      <div class="card">
        <div class="card-title-bar">
          <span class="card-title">What is the Revised Common Lectionary (RCL)?</span>
        </div>
        <div class="card-content">
          <p>
            The RCL is a Bible reading plan used by many Christians across
            the world.  It follows a three year cycle that is connected to
            the church calendar.  Each Sunday there are four readings taken
            from the Old Testament or the book of Acts, the Psalms, the
            Epistles or Revelation and from one of the Gospels.  On weekdays
            passages vary from this format.  For more on the RCL click
            <a href="https://en.wikipedia.org/wiki/Revised_Common_Lectionary" target="_blank">here</a>.
          </p>
        </div>
        <!--
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
        -->
      </div>
    </div>
  </div>
</div>

