<div materialize class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Manage Users
      </div>
      <div class="row">
        <div class = "card col s10 offset-s1">
          <div class = "card-content">
            <div class="row">
              <div class="col s4">
                <div class="row">
                  <div class="input-field col s12">
                    <select #selectedOption
                            materialize="material_select"
                            [materializeSelectOptions]="filterSelectOptionsDropdown" (change)="onSelect(selectedOption.value)">
                      <option *ngFor="let option of filterSelectOptionsDropdown"
                              [value]="option.value">{{option.name}}</option>
                    </select>
                    <label>Filter By</label>
                  </div>

                  <div class="input-field col s12">
                    <label for="filter">Filter</label>
                    <input
                      id="filter"
                      type="text"
                      class="input"
                      [(ngModel)]="filter"
                      (keyup)="onKey()">
                  </div>
                </div>
              </div>

              <div class="col s7 offset-s1">
                <table class="centered striped">
                  <thead>
                  <tr>
                    <th data-field="permissionType"> Permission</th>
                    <th data-field="permission-can"> can </th>
                    <th data-field="permission-cannot"> cannot </th>
                    <th data-field="permission-either"> either </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let permissionFilter of permissionFilters; let i=index">
                    <td>{{permissionFilter.title}}</td>
                    <td>
                      <input type="radio"
                             name="permissionFilter{{permissionFilter.id}}"
                             id="permissionFilter_{{i}}_1"
                             class="with-gap"
                             (click)="selectPermissionFilter(permissionFilter, permissionFilterType.can)"
                             [checked] = "permissionFilters[i].filter === permissionFilterType.can">
                      <label [attr.for]="'permissionFilter_' + i+'_1'"></label>
                    </td>
                    <td>
                      <input type="radio"
                             name="permissionFilter{{permissionFilter.id}}"
                             id="permissionFilter_{{i}}_2"
                             class="with-gap"
                             (click)="selectPermissionFilter(permissionFilter, permissionFilterType.cannot)"
                             [checked] = "permissionFilters[i].filter === permissionFilterType.cannot">
                      <label [attr.for]="'permissionFilter_' + i+'_2'"></label>
                    </td>
                    <td>
                      <input type="radio"
                             name="permissionFilter{{permissionFilter.id}}"
                             id="permissionFilter_{{i}}_3"
                             class="with-gap"
                             (click)="selectPermissionFilter(permissionFilter, permissionFilterType.either)"
                             [checked] = "permissionFilters[i].filter === permissionFilterType.either">
                      <label [attr.for]="'permissionFilter_' + i+'_3'"></label>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>
          <div class="card-action">
            <button class="btn-flat" (click)="resetFilters()">
              <i class="material-icons arrow">refresh</i>
              Reset Filters
            </button>
          </div>

        </div>
      </div>
      <span class="row">

        <div class="col s12">
          <table class="striped">
            <thead>
              <tr>
                <!-- sortable columns -->
                <th *ngFor="let column of sortableColumns" data-field="column.value">
                  <a class="grey-text text-darken-4" (click)="toggleSort(column.value)">{{column.name}}
                    <span *ngIf="sortColumn == column.value">
                      <span *ngIf="sortAscending">
                        <i class="material-icons arrow">keyboard_arrow_up</i>
                      </span>
                      <span *ngIf="!sortAscending">
                        <i class="material-icons arrow">keyboard_arrow_down</i>
                      </span>
                    </span>
                  </a>
                </th>
                <th data-field="enabled">
                  <a class="grey-text text-darken-4" (click)="toggleEnabled()">
                    <span [ngSwitch]="viewEnabledUsers">
                      <span *ngSwitchCase="userEnabledChoices[0]">Enabled?</span>
                      <span *ngSwitchCase="userEnabledChoices[1]">Enabled (only)</span>
                      <span *ngSwitchCase="userEnabledChoices[2]">Not Enabled</span>
                    </span>
                  </a>
                </th>
                <th data-field="edit">Edit</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filteredUsers | paginate: config">
                  <td *ngFor="let column of sortableColumns">
                    <span *ngIf="column.value === 'joinedOn'">
                        {{ user[column.value] | amTimeAgo }}
                    </span>
                    <span *ngIf="column.value !== 'joinedOn'">
                        {{ user[column.value] }}
                    </span>
                  </td>
                  <td>
                    <span *ngIf="user.enabled">
                      <i class="material-icons">check_circle</i>
                    </span>
                  </td>
                  <td>
                    <a (click)="editUser(user)">
                      <i class="material-icons">edit</i>
                    </a>
                  </td>
                </tr>
            </tbody>
          </table>
          <div class="center">
              <pagination-controls #p
                                   [maxSize]="maxSize"
                                   [directionLinks]="directionLinks"
                                   [autoHide]="autoHide"
                                   [id]="config.id"
                                   (pageChange)="onPageChange($event)">

                <ul class="pagination">
                  <li class="disabled" *ngIf="p.isFirstPage()">
                    <a>
                      <i class="material-icons">chevron_left</i>
                    </a>
                  </li>
                  <li class="waves-effect" *ngIf="!p.isFirstPage()">
                    <a (click)="p.previous()">
                      <i class="material-icons">chevron_left</i>
                    </a>
                  </li>
                  <span *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <li *ngIf="p.getCurrent() !== page.value" class="waves-effect">
                      <a (click)="p.setCurrent(page.value)">
                          <span>{{ page.label }}</span>
                      </a>
                    </li>
                    <li *ngIf="p.getCurrent() === page.value" class="active">
                          <span>{{ page.label }}</span>
                    </li>
                  </span>
                  <li class="disabled" *ngIf="p.isLastPage()">
                    <a>
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </li>
                  <li class="waves-effect" *ngIf="!p.isLastPage()">
                    <a (click)="p.next()">
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </li>
                </ul>

              </pagination-controls>
          </div>


          <div *ngIf = "filteredUsers">
            <div [ngSwitch]="filteredUsers.length" class="center">
              <div *ngSwitchCase="1">{{filteredUsers.length}} record found</div>
              <div *ngSwitchCase="0">No records found</div>
              <div *ngSwitchDefault>{{filteredUsers.length}} records found</div>
            </div>
          </div>

        </div>
      </span>
    </div>
  </div>
</div>

<!-- fab -->

<div class="fixed-action-btn">
  <a materialize="leanModal" [materializeParams]="[{dismissible: true}]"
     class="btn-floating btn-large waves-effect waves-light red modal-trigger"
     href="#modalAddNewUser">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- Modal Structure
<div id="modalAddNewUser" class="modal">
  <div class="modal-content">
    <app-edit-user
      [newUser]="true"
      [modalID]="'modalAddNewUser'"
      (onFinished)="onModalFinished($event)"
      [userData]=""><!-- userData would be the user's actual data if this were editing a user
    </app-edit-user>
  </div>
</div>

-->


<!--
<div editUserAnchor></div>

<button class="btn" (click)="createNewUser()">add user</button>

-->
<!--
<button class="btn" (click)="logUserLists()">user list</button>
-->

<!--
<div dialogAnchor></div>
<div class="open-button" (click)='openDialogBox()'>Open dialog box</div>
-->

<button class="btn" (click)="addItem()">Add User</button>
<div #placeholder></div>
