<div *ngIf="isOpen" class="resource-item">
  <div class="row">
    <div class="col s12 media-title">
      <a
        (click)="toggleOpenClose()"
        class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">remove</i>
      </a>
      Media: Art <span *ngIf="resourceGroup.value.caption != ''">({{resourceGroup.value.caption}})</span>
      <a
        (click)="removed.emit()"
        class="grey-text text-darken-2 right include-pointer"
      >
        <i class="material-icons">close</i>
      </a>
    </div>
  </div>
  <div [formGroup]="resourceGroup">
    <div class="row">
      <div class="col s12 quill-editor">
        <!-- description -->
        <quill-editor
          [placeholder]="'Description of this resource (not required)....'"
          [modules]="modules"
          [minLength]="'0'"
          (onEditorCreated)="onCreated($event)"
          (onContentChanged)="setResourceDescription($event)"
        >
        </quill-editor>
      </div>
      <div class="input-field col s12">
        <!-- caption -->
        <input
          [input-wake-up]="'caption'"
          [class.warning-background]="resourceGroup.controls.caption.errors && resourceGroup.controls.caption.touched"
          id="caption"
          type="text"
          formControlName="caption">
        <label for="caption">Caption</label>
        <div *ngIf="resourceGroup.controls.caption.errors && resourceGroup.controls.caption.touched">
          <small class="warning">
            This field is required.
          </small>
        </div>
      </div>
      <div class="input-field col s12">
        <!-- originalFileUrl -->
        <input
          [input-wake-up]="'originalFileUrl'"
          [class.warning-background]="resourceGroup.controls.originalFileUrl.errors && resourceGroup.controls.originalFileUrl.touched"
          id="originalFileUrl"
          type="text"
          formControlName="originalFileUrl">
        <label for="originalFileUrl">Url of the file (not the page)</label>
        <div *ngIf="resourceGroup.controls.originalFileUrl.errors && resourceGroup.controls.originalFileUrl.touched">
          <small class="warning">
            This field is required.
          </small>
        </div>
      </div>
    </div>

    <div *ngIf="!metadataOpen">
      <div class="row">
        <div class="col s12 metadata-title">
          <a
            (click)="toggleMetadataOpenClose()"
            class="grey-text text-darken-2 include-pointer">
            <i class="material-icons lr-arrow">add</i>
          </a>
          Additional metadata (optional)
        </div>
      </div>
    </div>
    <div *ngIf="metadataOpen">
      <div class="row">
        <div class="col s12 metadata-title">
          <a
            (click)="toggleMetadataOpenClose()"
            class="grey-text text-darken-2 include-pointer">
            <i class="material-icons lr-arrow">remove</i>
          </a>
          Additional metadata (optional)
        </div>

        <div class="input-field col s12">
          <!-- author -->
          <input
            [input-wake-up]="'author'"
            id="author"
            type="text"
            formControlName="author">
          <label for="author">Author</label>
        </div>
        <div class="input-field col s12">
          <!-- date -->
          <input
            [input-wake-up]="'date'"
            id="date"
            type="text"
            formControlName="date">
          <label for="date">Date</label>
        </div>
        <div class="input-field col s12">
          <!-- medium -->
          <input
            [input-wake-up]="'medium'"
            id="medium"
            type="text"
            formControlName="medium">
          <label for="medium">Medium</label>
        </div>
        <div class="input-field col s12">
          <!-- dimensions -->
          <input
            [input-wake-up]="'dimensions'"
            id="dimensions"
            type="text"
            formControlName="dimensions">
          <label for="dimensions">Dimensions</label>
        </div>
        <div class="input-field col s12">
          <!-- currentLocation -->
          <input
            [input-wake-up]="'currentLocation'"
            id="currentLocation"
            type="text"
            formControlName="currentLocation">
          <label for="currentLocation">Current Location</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isOpen"
      [class.resource-item]="resourceGroup.valid"
      [class.resource-item-warning]="!resourceGroup.valid">
  <div class="row">
    <div class="col s12"
         [class.media-title]="resourceGroup.valid"
         [class.media-title-warning]="!resourceGroup.valid"
    >
      <a
        (click)="toggleOpenClose()"
        class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">add</i>
      </a>
      Media: Art <span *ngIf="resourceGroup.value.caption != ''">({{resourceGroup.value.caption}})</span>
      <a
        (click)="removed.emit()"
        class="grey-text text-darken-2 right include-pointer"
      >
        <i class="material-icons">close</i>
      </a>
    </div>
  </div>
</div>

<!--
caption: [resource.caption],
      description: [resource.description, Validators.required],
      author: [resource.author],
      date: [resource.date],
      medium: [resource.medium],
      dimensions: [resource.dimensions],
      currentLocation: [resource.currentLocation],
      originalFileUrl: [resource.originalFileUrl, Validators.required]
    -->
