<div class="row">
  <div class="col s12">
    <div [formGroup]="parentForm">
      <div formArrayName="resources">
        <div *ngFor="let resource of resources; let i=index">
          <app-resource
            [formArray]="parentForm.controls.resources"
            [resource]="resource"
            [index]="i"
            (removed)="removeResource(i)">
          </app-resource>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <a *ngIf="resources.length > 0"
       materialize="dropdown"
       [materializeParams]="[{alignment:'right'}]"
       class='dropdown-button grey-text text-darken-2 right include-pointer'
       data-activates='media-dropdown'>Add more media +</a>
    <a *ngIf="resources.length == 0"
       materialize="dropdown"
       [materializeParams]="[{alignment:'right'}]"
       class='dropdown-button grey-text text-darken-2 right include-pointer'
       data-activates='media-dropdown'>Add media +</a>
  </div>
</div>


<!-- Dropdown Structure -->
<ul id='media-dropdown' class='dropdown-content medium-large-width'>
  <li><a (click)="addResource(mediaTypeOptions.imageUpload)">image (upload file)</a></li>
  <li><a (click)="addResource(mediaTypeOptions.imageUrl)">image (url)</a></li>
  <li><a (click)="addResource(mediaTypeOptions.videoUrl)">video (url)</a></li>
  <li><a (click)="addResource(mediaTypeOptions.musicUrl)">music (url)</a></li>
</ul>
