<div *ngIf="isOpen" class="resource-item">
  <div class="row">
    <div class="col s12 media-title">
      <a
        (click)="toggleOpenClose()"
        class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">remove</i>
      </a>
      Media: {{formManager.getMediaType()}} <span *ngIf="resourceGroup.value.title != ''">({{resourceGroup.value.title}})</span>
      <a
        (click)="removed.emit()"
        class="grey-text text-darken-2 right include-pointer"
      >
        <i class="material-icons">close</i>
      </a>
    </div>
  </div>
  <div [formGroup]="resourceGroup">
    <div class="row">
      <div class="input-field col s12">
        <!-- title -->
        <input
          [input-wake-up]="'title'"
          [class.warning-background]="resourceGroup.controls.title.errors && resourceGroup.controls.title.touched"
          id="title"
          type="text"
          formControlName="title">
        <label for="title">Title</label>
        <div *ngIf="resourceGroup.controls.title.errors && resourceGroup.controls.title.touched">
          <small class="warning">
            This field is required.
          </small>
        </div>
      </div>

      <div class="input-field col s12">
        <!-- source -->

        <!--





        WORKING HERE!!!!


        FIX!!!!!!
        - confusion between source and originalFileUrl below
        - need to consolidate as sourceUrl
        - ALSO...need to add a source field in the optional metadata
          section in the image - file upload case



        -->


        <input
          [input-wake-up]="'source'"
          [class.warning-background]="resourceGroup.controls.source.errors && resourceGroup.controls.source.touched"
          id="source"
          type="text"
          formControlName="source">
        <label for="originalFileUrl">{{formManager.getSourceFieldText()}}</label>
        <div *ngIf="resourceGroup.controls.source.errors && resourceGroup.controls.source.touched">
          <small class="warning">
            This field is required.
          </small>
        </div>
      </div>

      <div class="input-field col s12">
        <!-- license type -->
        <select
          materialize="material_select"
          [materializeSelectOptions]="selectOptions"
          formControlName="licenseId"
        >
          <option *ngIf="isNewResource" value="" disabled selected>Type of license</option>
          <option *ngFor="let license of licenses"
                  [value]="license.id"
          >{{license.name}}
          </option>
        </select>
      </div>
      <div class="col s12 quill-editor">
        <!-- description -->
        <quill-editor
          [placeholder]="'Description of this ' + formManager.getDescriptionFieldText() + ' (optional)....'"
          [modules]="modules"
          [minLength]="'0'"
          (onEditorCreated)="onCreated($event)"
          (onContentChanged)="setResourceDescription($event)"
        >
        </quill-editor>
      </div>
      <div *ngIf="formManager.uploadFromHardDrive()" class="col s12">
        <app-upload-resource
        >
        </app-upload-resource>
      </div>

    </div>

    <div *ngIf="!metadataOpen">
      <div class="row">
        <div class="col s12 metadata-title">
          <a
            (click)="toggleMetadataOpenClose()"
            class="grey-text text-darken-2 include-pointer">
            <i class="material-icons lr-arrow">add</i>
          </a>
          Additional metadata (optional)
        </div>
      </div>
    </div>
    <div *ngIf="metadataOpen">
      <div class="row">
        <div class="col s12 metadata-title">
          <a
            (click)="toggleMetadataOpenClose()"
            class="grey-text text-darken-2 include-pointer">
            <i class="material-icons lr-arrow">remove</i>
          </a>
          Additional metadata (optional)
        </div>

        <div class="input-field col s12">
          <!-- creator -->
          <input
            [input-wake-up]="'creator'"
            id="creator"
            type="text"
            formControlName="creator">
          <label for="creator">Creator (e.g., artist)</label>
        </div>
        <div class="input-field col s12">
          <!-- creationDate -->
          <input
            [input-wake-up]="'creationDate'"
            id="creationDate"
            type="text"
            formControlName="creationDate">
          <label for="creationDate">Creation date</label>
        </div>
        <div class="input-field col s12">
          <!-- copyrightDate -->
          <input
            [input-wake-up]="'copyrightDate'"
            id="copyrightDate"
            type="text"
            formControlName="copyrightDate">
          <label for="copyrightDate">Copyright date</label>
        </div>
        <div *ngIf="formManager.displayMediumField()" class="input-field col s12">
          <!-- medium -->
          <input
            [input-wake-up]="'medium'"
            id="medium"
            type="text"
            formControlName="medium">
          <label for="medium">Medium</label>
        </div>
        <div *ngIf="formManager.displayPhysicalDimensionsField()" class="input-field col s12">
          <!-- physicalDimensions -->
          <input
            [input-wake-up]="'physicalDimensions'"
            id="physicalDimensions"
            type="text"
            formControlName="physicalDimensions">
          <label for="physicalDimensions">Physical dimensions</label>
        </div>
        <div *ngIf="formManager.displayCurrentLocationField()" class="input-field col s12">
          <!-- currentLocation -->
          <input
            [input-wake-up]="'currentLocation'"
            id="currentLocation"
            type="text"
            formControlName="currentLocation">
          <label for="currentLocation">Current location</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isOpen"
      [class.resource-item]="resourceGroup.valid"
      [class.resource-item-warning]="!resourceGroup.valid">
  <div class="row">
    <div class="col s12"
         [class.media-title]="resourceGroup.valid"
         [class.media-title-warning]="!resourceGroup.valid"
    >
      <a
        (click)="toggleOpenClose()"
        class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">add</i>
      </a>
      Media: {{formManager.getMediaType()}} <span *ngIf="resourceGroup.value.title != ''">({{resourceGroup.value.title}})</span>
      <a
        (click)="removed.emit()"
        class="grey-text text-darken-2 right include-pointer"
      >
        <i class="material-icons">close</i>
      </a>
    </div>
  </div>
</div>

<!--
caption: [resource.caption],
      description: [resource.description, Validators.required],
      author: [resource.author],
      date: [resource.date],
      medium: [resource.medium],
      physicalDimensions: [resource.physicalDimensions],
      currentLocation: [resource.currentLocation],
      originalFileUrl: [resource.originalFileUrl, Validators.required]
    -->
