.direction-form {
  //overflow-y: scroll;
  /*
  this is so that the practices drop-down doesn't get cut off if the
  drop-down happens to be very long (at least this way, you can scroll
  down in the form itself to get to the bottom of the drop down);
  not currently using this approach; setting overflow: visible
  in parent div instead
  */
}

.enable-overflow {
  overflow: visible;
}

.warning-background {
  background-color: rgba(255,0,0,0.1);
}

/* invalid color */
.warning {
  color: #c62828;
}

.form-actions {
  padding-top: 0px;
}

.tighten-margin {
  margin-bottom: 0px;
}

.btn-spacing {
  padding-top: 10px;
  padding-right: 20px;
}
