.form-actions {
  padding-top: 0px;
}

.tighten-margin {
  margin-bottom: 0px;
}

.btn-spacing {
  padding-top: 10px;
  padding-right: 20px;
}

.enable-overflow {
  overflow: visible;
}

/* invalid color */
.warning {
  color: #c62828;
}

