<div class="row">
  <div class="col s12">
    <div *ngIf="days">
      <div class="row">
        <ul class="tabs tabs-fixed-width" materialize="tabs">
          <li class="tab disabled">
            <a (click)="shiftDays(-7)">
              <i class="material-icons calendar">navigate_before</i>
            </a>
          </li>
          <li *ngFor="let day of days; let i=index" class="tab">
            <a (click)="shiftRCLDate(i)"[ngClass]="{ 'active': day.isRCLToday }">{{day.name}}</a>
          </li>
          <li class="tab disabled">
            <a (click)="shiftDays(7)">
              <i class="material-icons calendar">navigate_next</i>
            </a>
            <!--
            <a (click)="openDatepicker()">
              <i class="material-icons calendar">date_range</i>
            </a>
            -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="readingsData">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l5 ">
        <app-readings-list
          [includeLinkToReadings] = true
          [dateString] = "convertToDateString(RCLDate)"
          [readingsData] = "readingsData"
          (openReadings) = "openReadings($event)"
        >
        </app-readings-list>
      </div>
      <div class="col s12 m6 l6 offset-l1">
        <app-question-list
          [includeLinkToJournal] = true
          [questions] = "readingsData.questions"
          [dateString] = "convertToDateString(RCLDate)"
          (openJournal) = "openJournal()"
        >
        </app-question-list>
      </div>

    </div>
  </div>
</div>

<app-post-dashboard></app-post-dashboard>

<simple-modal
  #dashboardSorry
  header="Sorry"
  message=""
></simple-modal>






<!--
<button class="btn" (click)="fetchRCLDate()">RCL Date?</button>
-->
<!-- options:
  https://github.com/jkuri/ng2-datepicker/blob/master/src/components/ng2-datepicker.component.ts#L33-L40
  autoApply?: boolean;
  style?: 'normal' | 'big' | 'bold';
  locale?: string;
  minDate?: Date;
  maxDate?: Date;
  initialDate?: Date;
  firstWeekdaySunday?: boolean;
  format?: string;
-->

<!--
<div class="disappearing">
<ng2-datepicker
  [(ngModel)]="date"></ng2-datepicker>
  </div>
  -->

<!--Selected date is: {{ date }}-->

<!--
<form materialize class="col s12">
  <div class="row">
    <div class="col s6">
      <label for="birthdate">Birthdate</label>
      <input id="birthdate"
             materialize="pickadate"
             [materializeParams]="[{selectMonths: true, selectYears: 15}]"
             type="text" />
    </div>
  </div>
</form>
-->
