<div *ngIf="practiceData">
  <div class="card ">
    <!-- I can't figure out how to get a title bar in a solid color, so I'm cheating and using the card-action class -->
    <div class="card-title-bar">
      <span class="card-title">Instructions</span>
    </div>
    <div class="card-content">
      <span class="card-title">{{practiceData.practice.title}}</span>
      <!--<div class="card-item">-->
      <!--<p><b>{{ reading.description }}</b></p>-->
      <br>
      <p *ngIf="practiceData.steps.length > 1">Step {{stepIndex+1}} of {{practiceData.steps.length}}</p>
      <br *ngIf="practiceData.steps.length > 1">
      <div [innerHTML]="practiceData.steps[stepIndex].description" class="step"></div>

      <div *ngIf="practiceData.steps[stepIndex].resources.length > 0">
        <app-resource-list
          [resources]="practiceData.steps[stepIndex].resources"
        ></app-resource-list>
      </div>
      <!--
      <div *ngIf="practiceData.steps[stepIndex].resources.length > 0" class="carousel carousel-slider center" data-indicators="true"
           [ngClass]="{ 'initialized': showInitialized }"
           materialize="carousel"
           [materializeParams]="[{fullWidth: true}]">
        <div class="carousel-fixed-item center">
          <i class="material-icons white-text medium">art_track</i>
        </div>
        <div *ngFor="let resource of practiceData.steps[stepIndex].resources; let i=index"
             class="carousel-item indigo lighten-3 white-text">
          <div class="row">
            <div class="col s6">
              <img
                [src]="resource.fileUrl"
                [alt]="resource.caption"
                width="100%"/>
            </div>
            <div class="col s6">
              <h5>{{resource.caption}}</h5>
              <div [innerHTML]="resource.description"></div>
            </div>
          </div>
          <!--
          <h5>{{resource.caption}}</h5>
          <div [innerHTML]="resource.description"></div>
          <img
            [src]="resource.fileUrl"
            [alt]="resource.caption"/>

        </div>
      </div>
      -->

      <br>

      <!--<div class="divider"></div>-->

      <div *ngIf="includeNavigationButtons()" class="card-action">
        <a *ngIf="showPreviousButton()" (click)="previousStep()"> <i class="material-icons lr-arrow">navigate_before</i> Previous</a>
        <a></a> <!-- this is here b/c otherwise the vertical spacing gets messed up by the class="right" statement in the following (if Next is all that shows up) -->
        <a *ngIf="showNextButton()" (click)="nextStep()" class="right">Next <i class="material-icons lr-arrow">navigate_next</i></a>
      </div>

      <!--</div>-->
    </div>
  </div>
  <div class="row">
    <div class="col s12 right-align">

      <!--
      <div class="fb-share-button"
           data-href="https://galilee.cse.taylor.edu/"
           data-layout="button_count"
           data-size="large"
           data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore"
           target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgalilee.cse.taylor.edu%2F&amp;src=sdkpreparse">Share</a>
      </div>
      -->

      <!--
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fgalilee.cse.taylor.edu&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId" width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      -->
      <!--
      "https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title, '',
      'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600'
      -->

      <!--
      <iframe
        src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fgalilee.cse.taylor.edu&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId"
        width="73"
        height="28"
        style="border:none;overflow:hidden"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"></iframe>
        -->


      <!--
      <a class="waves-effect waves-light btn" (click)="share()">Share dialog</a>
      -->
      <!--
      <a class="waves-effect waves-light btn" href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook">Facebook</a>
      -->


      <fb-share
        href="https://galilee.cse.taylor.edu"
        layout="button_count"
        mobileIframe=true
        size="large"
      ></fb-share>


    </div>
  </div>
</div>

