<div class="hide-on-small-only">

  <div class="row">
    <div class="col s12">
      <div *ngIf="days">
        <div class="row">
          <ul class="tabs tabs-fixed-width" materialize="tabs">
            <li class="tab disabled nav-arrow">
              <a *ngIf="canShiftLeft" class="include-pointer" (click)="shiftWeek(-1)">
                <i class="material-icons calendar">navigate_before</i>
              </a>
            </li>
            <li *ngFor="let day of days; let i=index"
                appSpy
                class="tab"
                [ngClass]="{ 'disabled': day.disabled }"
            >
              <!--
               Note: $event.preventDefault() prevents the tab slider from sliding to the clicked position;
                     we do this programmatically instead, since we need to be able to do that if the user
                     clicks on the 'home' button, etc.  Doing it programmatically _and_ allowing the slider
                     to move when the element is clicked leads to problems; see:
                     https://github.com/InfomediaLtd/angular2-materialize/blob/master/app/components/tabs-routing.ts

              -->
              <a
                (click)="$event.preventDefault();shiftRCLDate(i)"
                class="include-pointer"
                [ngClass]="{ 'active': day.isRCLToday }"
                [attr.href]="'#date-nav-tab'+i"
              >
                <div class="center-align tooltipped"
                     materialize="tooltip"
                     data-position="bottom"
                     data-delay="150"
                     [attr.data-tooltip]="(day.date | amDateFormat:'LL')+disabledMessage(day.disabled)">
                  {{day.name}}
                </div>
              </a>

            </li>
            <li class="tab disabled nav-arrow">
              <a *ngIf="canShiftRight" class="include-pointer" (click)="shiftWeek(1)">
                <i class="material-icons calendar">navigate_next</i>
              </a>
            </li>
            <li *ngIf="currentUserIsAdmin" class="tab disabled">
              <input materialize materialize="pickadate" type="date" class="datepicker"
                     [hidden]="true"
                     [ngModel]="this.pickerdate"
                     (ngModelChange)="updateDate($event)"
                     [materializeActions]="adminActions"
                     [materializeParams]="[{ disable: this.datepickerReadings, format: 'yyyy-mm-dd', min: this.datepickerMin, max: this.datepickerMax }]" />
              <a class="include-pointer" (click)="openAdminCalendar()">
                <i class="material-icons calendar">date_range</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hide-on-med-and-up">
  <div class="small-device-date-nav z-depth-1">
    <div *ngIf="days">
      <span class="date-small-device">
        {{formattedRCLDate()}}
      </span>
      <span class="right">
        <input materialize materialize="pickadate" type="date" class="datepicker"
               [hidden]="true"
               [ngModel]="this.pickerdate"
               (ngModelChange)="updateDate($event)"
               [materializeActions]="actions"
               [materializeParams]="[{ disable: this.datepickerReadings, format: 'yyyy-mm-dd', min: this.datepickerMin, max: this.datepickerMax }]" />
        <a class="include-pointer" (click)="openCalendar()">
          <i class="material-icons calendar">date_range</i>
        </a>
      </span>
    </div>
  </div>
</div>
