<ul materialize="collapsible" class="collapsible " data-collapsible="accordion">
  <li>
    <div class="collapsible-header" (click)="toggleDivStatusCheckSaved($event)">
      {{practice.title}}
      <span>
        <a materialize="leanModal"
           [materializeParams]="[{dismissible: false}]"
           class="waves-effect waves-light secondary-content modal-trigger"
           (click)="overrideOpenClose($event)"
           href="#modalDeletePracticeThisReading{{practice.id}}">
          <i class="material-icons right">close</i>
        </a>
      </span>
      <span *ngIf="noAdvice(practice)" materialize="tooltip" class="tooltipped right" data-position="top" data-delay="50"
            data-tooltip="No advice given yet">
          <i class="large material-icons">warning</i>
      </span>
    </div>

    <!-- advice for this practice -->
    <div class="collapsible-body">
      <div [hidden]="editModeOn">
        <div class="text-area-wrapper non-edit-mode">{{practice.advice}}</div>
        <a class="waves-effect waves-teal btn-flat" (click)="launchEditMode()">Edit</a>
      </div>
      <div [hidden]="!editModeOn">
        <form materialize [formGroup]="practiceUpdateForm"
              (ngSubmit)="onSubmit()">
          <div class="input-field text-area-wrapper">
              <label class="label-wrapper" [attr.for]="'textareaAdvice'+practice.id">Advice for {{practice.title}}
              </label>
              <textarea [formControl]="practiceText"
                        id="textareaAdvice{{practice.id}}"
                        class="materialize-textarea"
                        #myInput2>
              </textarea>
          </div>
          <a class="waves-effect waves-teal btn-flat" (click)="onCancel()">Cancel</a>
          <button type="submit" class="waves-effect waves-teal btn-flat">Save</button>
        </form>
      </div>
    </div>
  </li>
</ul>


<!-- Modal Structure -->
<div id="modalDeletePracticeThisReading{{practice.id}}" class="modal">
  <div class="modal-content">
    <h5>Delete {{practice.title}} for this reading?</h5>
    <p>Deleting this practice will also delete the associated advice, if any.</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onDelete()">Delete</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="modalSaveFirst{{practice.id}}" class="modal">
  <div class="modal-content">
    <h5>Please save your work before closing this panel.</h5>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
  </div>
</div>
