<a
  *ngIf="showSteps"
  href="javascript:void(0)"
  (click)="toggleShowSteps()"
  class="grey-text text-darken-2">
  <i class="material-icons lr-arrow">remove</i>
  {{application.seq}}. {{application.practice.title}}
</a>
<a
  *ngIf="!showSteps"
  href="javascript:void(0)"
  (click)="toggleShowSteps()"
  class="grey-text text-darken-2">
  <i class="material-icons lr-arrow">add</i>
  {{application.seq}}. {{application.practice.title}}
</a>
<span class="right">
  <a
    href="javascript:void(0)"
    (click)="displayDeleteModal()"
    class="grey-text text-darken-2">
  <i class="material-icons lr-arrow">delete</i>
  </a>
  <a
    href="javascript:void(0)"
    (click)="displayEditApplicationModal()"
    class="grey-text text-darken-2">
  <i class="material-icons lr-arrow">edit</i>
  </a>
</span>
<div *ngIf="showSteps">
  <div *ngFor="let step of application.steps" class="step">
    <span>Step {{step.seq}}:
      <p [innerHTML]="step.description"></p>
    </span>
  </div>
</div>

