<div class="card ">
  <div class="card-title-bar">
    <span class="card-title">{{practiceData.practice.title}}
      <a *ngIf="showInfoUrl" [attr.href]="infoUrl" target="_blank">
            <i
              class="white-text right material-icons "
            >help_outline</i>
      </a>
    </span>
  </div>
  <div class="card-content">
    <span class="card-title">Preparation</span>
    <!--<div class="card-item">-->
    <!--<p><b>{{ reading.description }}</b></p>-->

    <ul class="browser-default">
      <li>
        Are you in a place that is quiet?  You will need at least 15 minutes
        of uninterrupted time.
      </li>
      <li>
        Take a moment to do anything you need to prepare your heart
        to listen to God's word.
      </li>
      <li>
        Say a brief prayer to invite the Holy Spirit to come and guide
        you through your experience.  Ask that the Lord will
        show you his Truth and keep Satan and his distractions
        away from you.
      </li>
    </ul>

    <!--<div class="divider"></div>-->


    <div class="center">
      <a class="waves-effect waves-light btn" (click)="beginPracticeSteps()"> Begin Practice </a>
    </div>

    <br>

  </div>
</div>


