.hovered {
  background-color: #9fa8da;
  border-radius: 4px;
  margin: 2px;
  cursor: pointer !important;
}

.highlighted {
  background-color: #00bcd4;
  border-radius: 4px;
  margin: 2px;
  color: white;
  cursor: pointer !important;
}

.hovered-highlighted {
  background-color: #4dd0e1;
  border-radius: 4px;
  margin: 2px;
  color: white;
  cursor: pointer !important;
}

.not-hovered-highlighted {
  margin: 2px;
  cursor: pointer !important;
}

.email {
  padding-left: 15px;
  padding-bottom: 3px;
}

.user-name {
  padding-left: 5px;
  padding-top: 3px;
}
