

<div class="container">
<div class="row">
  <div class="col s12 m6 offset-m3 l6 offset-l3">
    <div class="card">
      <div class="card-title-bar">
        <span class="card-title">What is the Galilee Project?</span>
      </div>
      <div class="card-content">
        <p class="info">
          The Galilee Project is an interactive <a href="https://www.biblegateway.com/resources/scripture-engagement/main/what-is-scripture-engagement" target="_blank">Scripture Engagement</a>
          website that can be used by individuals or groups to help
          people engage with Scripture so that they can engage with God.
        </p>
        <p class="info">
          Using the Revised Common Lectionary reading plan, each Bible
          reading is provided with multiple Scripture engagement practices
          to choose from to help the reader meditate/reflect on Scripture.
          The Scripture engagement practices can be done either individually
          or in a group.  Participants can keep a private journal on the
          website and/or can post comments about the readings and practices
          that can be seen only by self-selected group members.
        </p>
        <p>
          The Galilee
          Project was developed by the
          <a href="http://tucse.taylor.edu" target="_blank">Taylor University Center for Scripture Engagement</a>
          partnering with Bible Gateway.
        </p>
      </div>
      <!--
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
      -->
    </div>
  </div>
</div>
  </div>


