<div class="card ">
  <div class="card-content ">
    <span class="card-title">{{ currentPractice.title }}
      <!-- Modal Trigger
        <a materialize="leanModal"
               class="waves-effect waves-light secondary-content modal-trigger"
               href="#modalPracticeGeneralDescription">
        <i class="material-icons right">help</i>
        </a>
        -->
    </span>
    <div class="card-item">
      <p><b>{{ reading.description }}</b></p>
      <br>
      <p>{{ currentPractice.advice}}</p>
    </div>
  </div>
</div>


<!-- Modal Structure
<div *ngIf="practiceGeneralInformation" id="modalPracticeGeneralDescription" class="modal">
  <div class="modal-content">
    <h5>{{practiceGeneralInformation.title}}</h5>
    {{practiceGeneralInformation.information}}
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
  </div>
</div>
-->
