<div *ngIf="practiceData">
  <div class="card ">
    <div class="card-title-bar">
      <span class="card-title">{{practiceData.practice.title}}</span>
    </div>
    <div class="card-content">
      <span class="card-title">Summary</span>
      <!--<div class="card-item">-->
      <!--<p><b>{{ reading.description }}</b></p>-->
      <br>
      <p [innerHTML]="practiceData.practice.summary"></p>

      <br>

      <!-- this is not yet functional
      <p>
        <input
          type="checkbox"
          class="filled-in"
          id="filled-in-box"
          [checked]="turnOffSummary"
          (change)="turnOffSummary=!turnOffSummary" />
        <label for="filled-in-box">Got it! Don't show again</label>
      </p>
      -->

      <br>


      <div class="card-action">
        <div class="right">
          <a href="https://www.biblegateway.com/resources/scripture-engagement/" target="_blank">About {{practiceData.practice.title}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="right">
  <!-- href="javascript:void(0)" included as a hack so the link has expected behaviour when hovered over -->
  <a href="javascript:void(0)" class="grey-text text-darken-2" (click)="closeSummary()">
    Preparation<i class="material-icons lr-arrow">navigate_next</i></a>
</div>
