.material-icons.diag-arrow {
  vertical-align: middle;
  padding-left: 10px;
}

.material-icons.lr-arrow {
  vertical-align: middle;
  padding-left: 10px;
}

.galilee {
  color: red;
}

.card .card-content p {
  color: green !important;
}
