<div *ngIf="practiceData">
  <div class="card ">
    <div class="card-title-bar">
      <span class="card-title">{{practiceData.practice.title}}
        <a href="https://www.biblegateway.com/resources/scripture-engagement/" target="_blank">
          <i
            class="white-text right material-icons "
          >help_outline</i>
        </a>
      </span>
    </div>
    <div class="card-content">
      <span class="card-title">Summary</span>
      <!--<div class="card-item">-->
      <!--<p><b>{{ reading.description }}</b></p>-->
      <br>
      <p [innerHTML]="practiceData.practice.summary"></p>

      <br>

      <!-- this is not yet functional
      <p>
        <input
          type="checkbox"
          class="filled-in"
          id="filled-in-box"
          [checked]="turnOffSummary"
          (change)="turnOffSummary=!turnOffSummary" />
        <label for="filled-in-box">Got it! Don't show again</label>
      </p>
      -->

      <br>

      <div class="center">
        <a class="waves-effect waves-light btn" (click)="closeSummary()"> Start </a>
      </div>

    </div>
  </div>
</div>
