<div class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">

    <div *ngIf="applicationForm">

      <div class="container">

        <form [formGroup]="applicationForm" novalidate (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col s12 ">
              <div class="card">
                <div class="card-content">

                  <span *ngIf="isNewApplication" class="card-title">
                    Add New Practice and Steps
                  </span>
                  <span *ngIf="!isNewApplication" class="card-title">
                    Update Practice and/or Steps
                  </span>

                  <div class="row">
                    <div class="col s12">
                      <ul class="collection with-header">
                        <li class="collection-header"><span class="title">Practice</span></li>
                        <li class="collection-item">
                          <div class="row">
                            <div class="input-field col s10 offset-s1">
                              <select
                                materialize="material_select"
                                [materializeSelectOptions]="selectOptions"
                                formControlName="practiceId"
                              >
                                <option *ngIf="isNewApplication" value="" disabled selected>Choose a practice</option>
                                <option *ngFor="let practice of availablePractices"
                                        [value]="practice.id"
                                >{{practice.title}}</option>
                              </select>

                              <div *ngIf="applicationForm.controls.practiceId.errors && applicationForm.controls.practiceId.touched">                                <small class="warning">
                                This field is required.
                              </small>
                              </div>

                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                    <!-- https://scotch.io/tutorials/how-to-build-nested-model-driven-forms-in-angular-2 -->
                  <div class="row">
                    <div class="col s12">

                      <div formArrayName="steps">

                        <ul class="collection with-header">
                          <li class="collection-header"><span class="title">Step(s)</span></li>
                          <li *ngFor="let step of applicationForm.controls.steps.controls; let i=index" class="collection-item">
                            <!-- step header, show remove button when more than one address available -->
                            <div class="row">
                              <div class="input-field col s12">
                                <span>Step {{i + 1}}</span>
                                <a *ngIf="applicationForm.controls.steps.controls.length > 1"
                                   href="javascript:void(0)"
                                   (click)="removeStep(i)"
                                   class="grey-text text-darken-2 right">
                                  <i class="material-icons">close</i>
                                </a>
                              </div>
                            </div>
                            <div class="row">
                              <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                              <div [formGroupName]="i" class="col s10 offset-s1">
                                <!--description-->
                                <div class="input-field">
                                  <label [attr.for]="'description'+i">Description</label>
                                  <textarea
                                    class="materialize-textarea"
                                    [input-wake-up]="'description'+i"
                                    [textarea-autoresize]="'description'+i"
                                    [class.warning-background]="applicationForm.controls.steps.controls[i].controls.description.errors && applicationForm.controls.steps.controls[i].controls.description.touched"
                                    id="description{{i}}"
                                    type="text"
                                    formControlName="description">
                                  </textarea>
                                </div>
                                <div *ngIf="applicationForm.controls.steps.controls[i].controls.description.errors && applicationForm.controls.steps.controls[i].controls.description.touched">                                <small class="warning">
                                    This field is required.
                                  </small>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col s12">
                      <a href="javascript:void(0)" (click)="addStep()"
                         class="grey-text text-darken-2 right"> Add another step +
                      </a>
                    </div>

                  </div>
                </div>
                  <!--
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <label for="question">Question</label>
                      <input
                        [input-wake-up]="'question'"
                        [class.warning-background] = "questionForm.controls.question.errors && questionForm.controls.question.touched"
                        id="question"
                        type="text"
                        formControlName="question">
                    </div>
                    <div *ngIf="questionForm.controls.question.errors && questionForm.controls.question.touched">
                      <small class="warning">
                        This field is required.
                      </small>
                    </div>
                  </div>
                  -->

                <div class="card-action">
                  <button
                    class="waves-effect waves-light btn"
                    type="submit"
                    [class.disabled]="!applicationForm.valid"
                    [disabled]="!applicationForm.valid"
                  >Submit
                  </button>

                  <!--[class.disabled]="!applicationForm.valid"
                    [disabled]="!applicationForm.valid"
                    -->

                  <button
                    (click)="onCancel()"
                    class="waves-effect waves-light btn right"
                    type="button"
                  >Cancel
                  </button>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
