<div class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">

    <div *ngIf="directionForm">

      <div class="container">

        <form [formGroup]="directionForm" novalidate (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col s12 ">
              <div class="card">
                <div class="card-content">
                  <span *ngIf="isNewDirection" class="card-title">
                    Add New Practice and Steps
                  </span>
                  <span *ngIf="!isNewDirection" class="card-title">
                    Update Practice and/or Steps
                  </span>
                  <div *ngIf="readingStdRef">
                    - {{readingStdRef}} -
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <ul class="collection with-header">
                        <li class="collection-header"><span class="title">Practice</span></li>
                        <li class="collection-item">
                          <div *ngIf="havePracticeTypes" class="row">
                            <div class="input-field col s10 offset-s1">
                              <select
                                materialize="material_select"
                                [materializeSelectOptions]="selectOptions"
                                formControlName="practiceId"
                              >
                                <option *ngIf="isNewDirection" value="" disabled selected>Choose a practice</option>
                                <option *ngFor="let practice of availablePractices"
                                        [value]="practice.id"
                                >{{practice.title}}</option>
                              </select>

                              <div *ngIf="directionForm.controls.practiceId.errors && directionForm.controls.practiceId.touched">
                                <small class="warning">
                                  This field is required.
                                </small>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>

                    <!-- https://scotch.io/tutorials/how-to-build-nested-model-driven-forms-in-angular-2 -->
                  <div class="row">
                    <div class="col s12">

                      <div formArrayName="steps">

                        <ul class="collection with-header">
                          <li class="collection-header"><span class="title">Step(s)</span></li>
                          <li *ngFor="let step of directionForm.controls.steps.controls; let i=index" class="collection-item">
                            <!-- step header, show remove button when more than one address available -->
                            <div class="row">
                              <div class="input-field col s12">
                                <span>Step {{i + 1}}</span>
                                <a *ngIf="directionForm.controls.steps.controls.length > 1"
                                   href="javascript:void(0)"
                                   (click)="removeStep(i)"
                                   class="grey-text text-darken-2 right">
                                  <i class="material-icons">close</i>
                                </a>
                              </div>
                            </div>
                            <div class="row">
                              <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                              <div [formGroupName]="i" class="col s10 offset-s1">
                                <!--description-->
                                <!--<div class="input-field">
                                  <label [attr.for]="'description'+i">Description</label>
                                  -->
                                  <quill-editor
                                    [modules]="modules"
                                    [minLength]="'1'"
                                    (onEditorCreated)="onCreated(i, $event)"
                                    (onContentChanged)="setStepDescription(i, $event)"
                                  >
                                  </quill-editor>

                                <div *ngIf="directionForm.controls.steps.controls[i].controls.description.errors && directionForm.controls.steps.controls[i].controls.description.touched">                                <small class="warning">
                                    This field is required.
                                  </small>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col s12">
                      <a href="javascript:void(0)" (click)="addStep()"
                         class="grey-text text-darken-2 right"> Add another step +
                      </a>
                    </div>

                  </div>
                </div>

                <div class="card-action">
                  <button
                    class="waves-effect waves-light btn"
                    type="submit"
                    [class.disabled]="!directionForm.valid"
                    [disabled]="!directionForm.valid"
                  >Submit
                  </button>

                  <button
                    (click)="onCancel()"
                    class="waves-effect waves-light btn right"
                    type="button"
                  >Cancel
                  </button>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
