.warning-background {
  background-color: rgba(255,0,0,0.1);
}

/* invalid color */
.warning {
  color: #c62828;
}

.collection {
  overflow: visible;
  /* so select menu is visible outside of collection; otherwise can be cut off */
  /* https://github.com/Dogfalo/materialize/issues/1385 */
}
