<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2 l4">
      <div class="row">
        <div class="col s12">
          <app-mini-calendar
            [showWeek]="'true'"
            [selected]="dateStringCalendarInit"
            [calendarJournalEntries]="calendarReadings"
            (changeSelected)="daySelected($event)">
          </app-mini-calendar>
        </div>
      </div>
    </div>
    <div *ngIf="!dateString" class="col s12 m8 offset-m2 l8">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-title-bar">
              <span class="card-title">Click a date to add/edit readings</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="dateString || readingsData" class="col s12 m8 offset-m2 l8">
      <div class="row">
        <div class="col s12">
          <app-update-readings-list
            [dateString] = "dateString"
            [readingsData] = "readingsData"
            (launchAddPracticeForm) = "onLaunchAddPracticeForm($event)">
          </app-update-readings-list>
        </div>
      </div>
      <div *ngIf="!addReadingModeOn" class="row">
        <div class="col s12 center-align btn-space">
          <a class="waves-effect waves-light btn" (click)="addNewReading()">Add Reading</a>
        </div>
      </div>
      <div *ngIf="addReadingModeOn" class="row">
        <app-update-reading-form
          [reading] = "reading"
          (submitSuccess) = "onAddReading($event)">
        </app-update-reading-form>
      </div>

      <div class="row">
        <div class="col s12">
          <app-update-questions-list
            [dateString] = "dateString"
            [questions] = "questions">
          </app-update-questions-list>
        </div>
      </div>

      <!--<div *ngIf="addPracticeModeOn" class="row">
        <app-update-practice-form
          [readingID] = "readingID"
          [application] = "application"
          [availablePractices] = "availablePractices"
          (submitSuccess) = "onAddPractice($event)">
        </app-update-practice-form>
     </div>-->




      <div *ngIf="!addQuestionModeOn" class="row">
        <div class="col s12 center-align">
          <a class="waves-effect waves-light btn" (click)="addNewQuestion()">Add Question</a>
        </div>
      </div>

      <div *ngIf="addQuestionModeOn" class="row">
        <app-update-question-form
          [question] = "question"
          (submitSuccess) = "onAddQuestion($event)">
        </app-update-question-form>
      </div>
    </div>
  </div>
</div>

<app-update-practice-form
  #updatePractice
  [readingID] = "readingID"
  [application] = "application"
  [availablePractices] = "availablePractices"
  (submitSuccess) = "onAddPractice($event)">
</app-update-practice-form>

