<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2 l4">
      <div class="row">
        <div class="col s12">
          <app-mini-calendar
            [showWeek]="'true'"
            [selected]="dateStringCalendarInit"
            [calendarJournalEntries]="calendarReadings"
            (changeSelected)="daySelected($event)">
          </app-mini-calendar>
          <!--
          <passage-picker #passagePicker
                          (passageAdded)="readingsList.addReading($event)"
                          (passageUpdated)="readingsList.updateReading($event)">
          </passage-picker>
          -->
        </div>
      </div>
    </div>
    <div *ngIf="!dateString" class="col s12 m8 offset-m2 l8">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-title-bar">
              <span class="card-title">Click a date to add/edit readings</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  class="col s12 m8 offset-m2 l8">
      <div class="row">
        <div *ngIf="readingsData">
          <div class="col s6">
            <h5>{{readingsData.name}}</h5>
          </div>
          <div class="col s6">
            <a class="waves-effect waves-light btn right btn-space"
               (click)="editReadingDayName()">
              <i class="material-icons left">edit</i>
              <span *ngIf="readingsData.name">
                Update Name
              </span>
              <span *ngIf="!readingsData.name">
                Add Name
              </span>
            </a>
          </div>
        </div>
        <div class="col s12">
          <update-readings-list #readingsList
                                [dateString]="dateString"
                                [readingsData]="readingsData"
                                (launchAddPracticeForm)="onLaunchAddPracticeForm($event)">
          </update-readings-list>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <app-update-daily-practices-list
            [dateString]="dateString"
            [readingDay]="readingsData">
          </app-update-daily-practices-list>
        </div>
      </div>
    </div>
  </div>
</div>

<app-update-reading-day-name-modal
  (readingDayObject)="getReadingDayModalObject($event)"
  #updateReadingDayModal>
</app-update-reading-day-name-modal>
