<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2 l4">
      <div class="row">
        <div class="col s12">
          <app-mini-calendar
            [showWeek]="'true'"
            [selected]="dateStringCalendarInit"
            [calendarJournalEntries]="calendarReadings"
            (changeSelected)="daySelected($event)">
          </app-mini-calendar>
          <passage-picker #passagePicker
                          (passageAdded)="readingsList.addReading($event)"
                          (passageUpdated)="readingsList.updateReading($event)">
          </passage-picker>
        </div>
      </div>
    </div>
    <div *ngIf="!dateString" class="col s12 m8 offset-m2 l8">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-title-bar">
              <span class="card-title">Click a date to add/edit readings</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  class="col s12 m8 offset-m2 l8">
      <div class="row">
        <div class="col s12">
          <update-readings-list #readingsList
                                [dateString]="dateString"
                                [readingsData]="readingsData"
                                (editReading)="passagePicker.editReadingPassage($event)"
                                (launchAddPracticeForm)="onLaunchAddPracticeForm($event)">
          </update-readings-list>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <app-update-questions-list
            [readingDay]="readingsData">
          </app-update-questions-list>
        </div>
      </div>
    </div>
  </div>
</div>

