<div class="container">
<div class="row">
  <div class="col s12 m6 offset-m3 l6 offset-l3">
    <div class="card">
      <div class="card-title-bar">
        <span class="card-title">How do I use the Journal?</span>
      </div>
      <div class="card-content">
        <p class="info">
          Welcome to the Journal feature of Galilee.
          Journaling your thoughts, prayers, commitments, fears, dreams…whatever comes to you as you read scripture, is a powerful tool for spiritual growth.
          The Journal feature of Galilee is a completely private tool; no one can see what you write here besides you.
          Using the calendar feature you can go back to read previous journal entries, a very helpful tool to help you see what God has been doing in your life.
          You can even "tag" specific entries with any label you'd like (e.g., prayer requests, commitments, people, topics) so that you can more easily find journal entries that you'd like to return to.
          <span *ngIf="!isLoggedIn()">Click <a [routerLink]="['/signup']">here</a> to create an account.</span>
          <span *ngIf="isLoggedIn()">Click the Journal link at the top of this page to get started.</span>
        </p>
      </div>
      <!--
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
      -->
    </div>
  </div>
</div>
</div>
