
<ul class="collection with-header">
  <li class="collection-header"><h5>Practices</h5></li>

  <li *ngFor="let practiceData of reading.applications; let i = index" class="collection-item">
    <h5>
      <a class="grey-text text-darken-1" (click)="onSelectPractice(i)">
        {{practiceData.practice.title}}
        <!--<i class="material-icons lr-arrow">arrow_forward</i>-->
      </a>
      <a (click)="onSelectPracticeSummary(i)">
        <i class="material-icons right grey-text darken-2">info_outline</i>
      </a>
    </h5>
  </li>
</ul>

<simple-modal
  #practiceSummary
  header=""
  message=""
>
</simple-modal>

<!--
<ul [id]="'dropdownViewPractice'+reading.id" class='dropdown-content'>
  <li *ngFor="let practice of practices">
    <a (click)="onSelectPractice(reading, practice)">{{practice.title}}</a>
  </li>
</ul>

<p [innerHTML]="practiceData.practice.summary"></p>


-->
