
<ul class="collection with-header">
  <li class="collection-header"><h5>Practices</h5></li>

  <a href="javascript:void(0)" *ngFor="let practiceData of reading.applications; let i = index" class="collection-item">
    <span class="title grey-text text-darken-2" (click)="onSelectPractice(i)"> {{practiceData.practice.title}}
     <!--
    <a class="grey-text text-darken-1" (click)="onSelectPractice(i)">
        {{practiceData.practice.title}}-->
        <i class="material-icons lr-arrow">navigate_next</i>
      </span>
      <!--</a>-->
      <span>
        <i
          (click)="onSelectPracticeSummary(i)"
          (mouseover) = "setHover(i)"
          (mouseleave) = "unsetHover(i)"
          class="material-icons right"
          [style.color]="getStyle(i)"
          >info_outline</i>
      </span>
  </a>
</ul>

<simple-modal
  #practiceSummary
  header=""
  message=""
>
</simple-modal>

<!--
<ul [id]="'dropdownViewPractice'+reading.id" class='dropdown-content'>
  <li *ngFor="let practice of practices">
    <a (click)="onSelectPractice(reading, practice)">{{practice.title}}</a>
  </li>
</ul>

<p [innerHTML]="practiceData.practice.summary"></p>


-->
