<ul class="collection with-header">
  <li class="collection-header">
    <h5>{{isAddMode ? 'Add Reading' : 'Update Reading'}}</h5>
  </li>
  <li class="collection-item">
    <div class="row">
      <select #book class="col s9 browser-default"
              materialize="material_select"
              [materializeSelectOptions]="bibleInfo.bibleBooks"
              [value]="passageRef.bibleBook.osisName"
              (change)="onBook(book.value)">
        <option *ngFor="let bibleBook of bibleInfo.bibleBooks"
                [value]="bibleBook.osisName">{{bibleBook.displayName}}</option>
      </select>

      <a class="btn col action-icons right" (click)="addNewVerseRange()">
        <i class="material-icons">add_box</i>
      </a>
    </div>
    <div picker-anchor></div>

    <div class="row">
      <div class="col s12 center-align btn-space">
        <p>{{passageRef.displayRef()}}</p>
        <a class="btn waves-effect waves-light"
           (click)="onAddOrUpdate()">{{isAddMode ? 'Add' : 'Update '}}</a>
        <a *ngIf="!isAddMode" class="btn waves-effect waves-light"
           (click)="onCancel()">Cancel</a>
      </div>
    </div>
  </li>
</ul>
