<header>
  <nav class="hide-on-med-and-down">
    <div class="container">
      <div class="nav-wrapper">
        <span class="brand-logo left">Galilee</span>
        <ul id="nav-mobile" class="right">
          <li>
            <a>
              <i (click)="goHome()" class="material-icons">home</i>
            </a>
          </li>
          <li>
            <a>
              Today
            </a>
          </li>
          <li>
            <a (click)="goToJournal()">
              Journal
            </a>
          </li>
          <li>
            <a materialize="dropdown"
               class='dropdown-button'
               data-activates='practicesDropdownMenu'>
              Practices
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <a materialize="dropdown"
               class='dropdown-button'
               data-activates='resourcesDropdownMenu'>
              Resources
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li *ngIf="currentUser">
            <a>
              <i class="material-icons left">perm_identity</i>
              {{currentUser.fullName()}}</a>
          </li>

          <li *ngIf="currentUser">
            <a [routerLink]="['/update-preferences']">
              +{{currentUser.fullName()}}
            </a>
          </li>
          <li>
            <a [routerLink]="['/end-user']">
              <i class="material-icons">book</i>
            </a>
          </li>
          <li>
            <a materialize="dropdown"
               class='dropdown-button'
               data-activates='adminDropdownMenu'>
              <i class="material-icons">settings</i>
            </a>
          </li>
          <li>
            <a *ngIf="isLoggedIn()"
               (click)="logout()">
              <i class="material-icons">power_settings_new</i>
            </a>
          </li>
          <li>
            <a *ngIf="!isLoggedIn()"
               [routerLink]="['/login']">
              <i class="material-icons">account_circle</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">First</a></li>
              <li><a href="#!">Second</a></li>
              <li><a href="#!">Third</a></li>
              <li><a href="#!">Fourth</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">First</a></li>
      <li><a href="#!">Second</a></li>
      <li><a href="#!">Third</a></li>
      <li><a href="#!">Fourth</a></li>
    </ul>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
-->


  <nav class="hide-on-large-only nav-wrapper">
    <a class="brand-logo custom-nav ">Galilee</a>
    <ul id="slide-out" class="side-nav">
      <li>
        <a>
          <i (click)="goHome()" class="material-icons">home</i>
        </a>
      </li>
      <li>
        <a>
          Today
        </a>
      </li>
      <li>
        <a (click)="goToJournal()">
          Journal
        </a>
      </li>
      <li>
        <a (click)="togglePracticesDropdown($event)" class="waves-effect">
          Practices
        </a>
        <ul *ngIf="showPracticesDropdown" class="nav-bar-submenu">
          <li><a>Individual</a></li>
          <li><a>Small Group</a></li>
        </ul>
      </li>
    </ul>
    <a materialize="sideNav"
       [materializeParams]="[{edge:'left', closeOnClick: true}]"
       href="#"
       data-activates="slide-out"
       class="button-collapse">
      <i class="mdi-navigation-menu material-icons">menu</i>
    </a>

  </nav>


</header>

<!--
<div *ngIf="currentReading">
  <!-- Tab structure at the top of the page
  <div class="row">
    <div class="col s12">
      <ul class="tabs  hide-on-med-and-down" materialize="tabs">
        <li *ngFor="let reading of readings; let i = index" class="tab col s3">
          <a [class.active]="isActive(currentReading)" (click)="updateTab(reading)">
            {{ reading.description }}</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="hide-on-large-only nav-wrapper">
    <a class="brand-logo custom-nav center" href="#">{{ currentReading.description }}</a>
    <ul id="slide-out" class="side-nav">
      <li *ngFor="let reading of readings; let i = index">
        <a [class.active]="isActive(currentReading)"
           (click)="updateTab(reading)">{{ reading.description }}
        </a>
      </li>
    </ul>
    <a materialize="sideNav"
       [materializeParams]="[{edge:'left', closeOnClick: true}]"
       href="#"
       data-activates="slide-out"
       class="button-collapse">
      <i class="mdi-navigation-menu material-icons">menu</i>
    </a>
  </nav>
-->


<main>

  <router-outlet></router-outlet>

</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © Phil Collins, Ph.D., 2014.  This material was created in partnership
      with the <a href="http://tucse.taylor.edu">Taylor University Center for Scripture Engagement</a>.
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>





<!-- Dropdown Structure -->
<ul id='adminDropdownMenu' class='dropdown-content'>
    <li><a [routerLink]="['/admin/edit-reading-resources']">Practices & Resources</a></li>
    <li><a [routerLink]="['/admin/manage-users']">Manage Users</a></li>
    <li class="divider"></li>
    <li><a href="#!">Other...?</a></li>
</ul>

<!-- Dropdown Structure -->
<ul id='resourcesDropdownMenu' class='dropdown-content'>
  <li><a>About Scripture Engagement</a></li>
  <li class="divider"></li>
  <li><a>Bible Study vs. Scripture Engagement</a></li>
</ul>

<!-- Dropdown Structure -->
<ul id='practicesDropdownMenu' class='dropdown-content'>
  <li><a>Individual</a></li>
  <li class="divider"></li>
  <li><a>Small Group</a></li>
</ul>
