/* overriding the default padding setting for large devices, which is to have
 200+ px, I think, at the left */

header, main, footer {
  padding-left: 0px;
}

.toolbar-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.dropdown-content {
  min-width: 250px
}
