<body>
<!--
http://html5doctor.com/the-main-element/
http://materializecss.com/footer.html
-->

<header>
  <nav class="hide-on-med-and-down">
    <div class="container">
      <div class="nav-wrapper">
        <a [routerLink]="['/end-user']" class="brand-logo left">Galilee</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a>
              <i (click)="goHome()" class="material-icons">home</i>
            </a>
          </li>
          <li *ngIf="!isLoggedIn()">
            <a [routerLink]="['/end-user/readings/today']">
              Engage
            </a>
          </li>
          <li *ngIf="isLoggedIn() && inAnyGroups()">
            <a (click)="goToForum()">
              Forum
            </a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a (click)="goToJournal()">
              Journal
            </a>
          </li>
          <!--
          <li>
            <a materialize="dropdown"
               data-beloworigin="true"
               class='dropdown-button'
               data-activates='practicesDropdownMenu'>
              Practices
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          -->
          <!--
          <li>
            <a materialize="dropdown"
               data-beloworigin="true"
               data-alignment="right"
               class='dropdown-button'
               data-activates='resourcesDropdownMenu'>
              About
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          -->

          <li [hidden] = "!currentUserIsAdmin">
            <a materialize="dropdown"
               data-alignment="right"
               data-beloworigin="true"
               class='dropdown-button'
               data-activates='adminDropdownMenu'>
              <i class="material-icons">settings</i>
            </a>
          </li>

          <li>
            <a materialize="dropdown"
               data-alignment="right"
               data-beloworigin="true"
               class='dropdown-button'
               data-activates='helpDropdownMenu'>
              <i class="material-icons">help</i>
            </a>
          </li>


          <!-- using [hidden] so that the element still instantiates oninit;
               otherwise the dropdown doesn't work after the user logs in -->
          <li [hidden]="!currentUser">
            <a materialize="dropdown"
               data-alignment="right"
               data-beloworigin="true"
               class='dropdown-button'
               data-activates='userDropdownMenu'>
              <i class="material-icons left">perm_identity</i>
              <span *ngIf="currentUser">{{currentUser.fullName()}}</span>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <a *ngIf="!isLoggedIn()"
               [routerLink]="['/login']">
              <i class="material-icons">account_circle</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="hide-on-large-only nav-wrapper nav-wrapper-small">

    <span class="row">
      <span class="col s2 ">
        <a materialize="sideNav"
           [materializeParams]="[{edge:'left', closeOnClick: true}]"
           href="#"
           data-activates="slide-out"
           class="button-collapse left">
            <i class="mdi-navigation-menu material-icons">menu</i>
        </a>
      </span>
      <a [routerLink]="['/end-user']" class="col s3 m4 brand-logo left ">Galilee</a>

      <span class="col s7 m6 right">
        <a [hidden]="!currentUser"
           materialize="dropdown"
           data-alignment="right"
           data-beloworigin="true"
           class='dropdown-button right'
           data-activates='userDropdownMenu2'>
          <i class="material-icons left">perm_identity</i>
          <span *ngIf="currentUser">{{currentUser.fullName()}}</span>
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <a *ngIf="!isLoggedIn()"
           class="right"
           [routerLink]="['/login']">
          <i class="material-icons">account_circle</i>
        </a>
      </span>
    </span>


    <ul id="slide-out" class="side-nav">
      <li>
        <a (click)="goHome()">
          <i class="material-icons">home</i>
        </a>
      </li>
      <li [hidden]="!currentUserIsAdmin">
        <a (click)="toggleAdminDropdown($event)" class="waves-effect">
          <i class="material-icons">settings</i>
        </a>
        <ul *ngIf="showAdminDropdown" class="nav-bar-submenu">
          <li><a [routerLink]="['/admin/update-readings']">Daily Readings</a></li>
          <!--<li><a [routerLink]="['/admin/edit-reading-resources']">Practices & Resources</a></li>-->
          <li><a [routerLink]="['/admin/manage-users']">Manage Users</a></li>
        </ul>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a [routerLink]="['/end-user/readings/today']">
          Engage
        </a>
      </li>
      <li *ngIf="isLoggedIn() && inAnyGroups()">
        <a (click)="goToForum()">
          Forum
        </a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a (click)="goToJournal()">
          Journal
        </a>
      </li>
      <!--
      <li>
        <a (click)="togglePracticesDropdown($event)" class="waves-effect">
          Practices
        </a>
        <ul *ngIf="showPracticesDropdown" class="nav-bar-submenu">
          <li><a>Individual</a></li>
          <li><a>Small Group</a></li>
        </ul>
      </li>
      -->
      <li>
        <a (click)="toggleResourcesDropdown($event)" class="waves-effect">
          About
        </a>
        <ul *ngIf="showResourcesDropdown" class="nav-bar-submenu">
          <li><a [routerLink]="['/end-user/info-galilee']">Galilee</a></li>
          <li><a [routerLink]="['/end-user/info-rcl']">Reading Plan</a></li>
        </ul>
      </li>

      <li>
        <a (click)="toggleHelpDropdown($event)" class="waves-effect">
          Help
        </a>
        <ul *ngIf="showHelpDropdown" class="nav-bar-submenu">
          <li><a [routerLink]="['/end-user/help-create-account']">Account Creation</a></li>
          <li><a [routerLink]="['/end-user/help-how-forum']">How to use the forum</a></li>
          <li><a [routerLink]="['/end-user/help-how-journal']">How to use the journal</a></li>
        </ul>
      </li>



    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l7 m12 s12">
        <h5 class="white-text">Taylor University Center for Scripture Engagement</h5>
        <p class="grey-text text-lighten-4">Engage scripture, engage God</p>
      </div>
      <div class="col l2 m6 s12">
        <h5 class="white-text">About</h5>
        <ul>
          <li>
            <a
              [routerLink]="['/end-user/info-galilee']"
              class="white-text link-underline"
            >Galilee</a>
          </li>
          <li>
            <a
              [routerLink]="['/end-user/info-rcl']"
              class="white-text link-underline"
            >Reading Plan</a>
          </li>
        </ul>
      </div>
<!--
      <li>
        <a materialize="dropdown"
           data-beloworigin="true"
           data-alignment="right"
           class='dropdown-button'
           data-activates='resourcesDropdownMenu'>
          About
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
-->


      <div class="col l3 m6 s12">
        <h5 class="white-text">More Information</h5>
        <ul>
          <li>
            <a
              class="white-text link-underline"
              href="http://tucse.taylor.edu/research/"
              target="_blank"
            >Research Programs</a></li>
          <!--<li><a class="grey-text text-lighten-3" href="http://tucse.taylor.edu/training-program/" target="_blank">Training Programs</a></li>-->
          <!--<li><a class="grey-text text-lighten-3" href="#!">Learning Programs</a></li>-->
          <li>
            <a
              class="white-text link-underline"
              href="https://www.biblegateway.com/resources/scripture-engagement/"
              target="_blank"
            >All About Scripture Engagement</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright white-text">
    <div class="container">
      © Phil Collins, Ph.D., 2014. This material was created in partnership
      with the <a href="http://tucse.taylor.edu" class = "white-text link-underline" target="_blank">Taylor University Center for Scripture Engagement</a>.
      <!--<a class="grey-text text-lighten-4 right" href="#!">More</a>-->
    </div>
  </div>
</footer>


<!-- Dropdown Structure -->
<ul id='userDropdownMenu' class='dropdown-content narrow-width'>
  <li><a [routerLink]="['/update-preferences']">Profile</a></li>
  <li><a (click)="logout()">Logout</a></li>
</ul>

<!-- Dropdown Structure -->
<ul id='userDropdownMenu2' class='dropdown-content narrow-width'>
  <li><a [routerLink]="['/update-preferences']">Profile</a></li>
  <li><a (click)="logout()">Logout</a></li>
</ul>



<!-- Dropdown Structure -->
<ul id='adminDropdownMenu' class='dropdown-content medium-width'>
  <li><a [routerLink]="['/admin/update-readings']">Daily Readings</a></li>
  <!--<li><a [routerLink]="['/admin/edit-reading-resources']">Practices & Resources</a></li>-->
  <li><a [routerLink]="['/admin/manage-users']">Manage Users</a></li>
  <li class="divider"></li>
  <li><a href="#!">Other...?</a></li>
</ul>

<!-- Dropdown Structure -->
<ul id='helpDropdownMenu' class='dropdown-content medium-width'>
  <li><a [routerLink]="['/end-user/help-create-account']">Account Creation?</a></li>
  <li><a [routerLink]="['/end-user/help-how-forum']">How to use the forum</a></li>
  <li><a [routerLink]="['/end-user/help-how-journal']">How to use the journal</a></li>
</ul>

<!-- Dropdown Structure
<ul id='resourcesDropdownMenu' class='dropdown-content'>
  <li><a [routerLink]="['/end-user/info-galilee']">Galilee</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/end-user/info-rcl']">Reading Plan</a></li>
</ul>
-->

<!-- Dropdown Structure -->
<ul id='practicesDropdownMenu' class='dropdown-content'>
  <li><a>Individual</a></li>
  <li class="divider"></li>
  <li><a>Small Group</a></li>
</ul>

</body>
