<div class="row">
  <div class="col s8">
    <h6>{{journalEntry.id}}&mdash;{{journalEntry.title}}</h6>
  </div>
  <div class="col s4 right-align">
    <!--
    a work-around so that the cursor changes to a pointer upon hovering; see:
    http://stackoverflow.com/questions/35639174/passive-link-in-angular-2-a-href-equivalent
    -->
    <a href="javascript:void(0)" (click)="deleteEntry()">
      <i class="material-icons grey-text darken-2">delete</i>
    </a>
    <a [routerLink]="['/end-user/journal-entry', journalEntry.id]">
      <i class="material-icons grey-text darken-2">mode_edit</i>
    </a>
  </div>
</div>

<div *ngIf="allowTruncation">
  <div>
    {{journalEntry.entry | truncate : truncationLimit}}
    <!--{{journalEntry.hasTags()}}-->
  </div>
  <div *ngIf="journalEntry.entryIsLong(truncationLimit)">
    <br>
    <a class="grey-text darken-3" (click)="toggleAllowTruncation()"> Read More... </a>
  </div>
</div>

<div *ngIf="!allowTruncation">
  <div>
    {{journalEntry.entry }}
    <!--{{journalEntry.hasTags()}}-->
  </div>
  <div *ngIf="journalEntry.entryIsLong(truncationLimit)">
    <br>
    <a class="grey-text darken-3" (click)="toggleAllowTruncation()"> Read Less </a>
  </div>
</div>

<br>

<div class="chip" *ngFor="let tag of journalEntry.tags">
  {{tag.label}}
</div>

<div class="grey-text darken-3 right tooltipped"
     materialize="tooltip"
     data-position="left"
     data-delay="50"
     [attr.data-tooltip]="journalEntry.updatedAt | amDateFormat:'LL'">
  {{journalEntry.updatedAt | amTimeAgo}}
</div>

