<img src="{{post.user.avatarUrl}}" class="circle">


<div *ngIf="closed" class="title">
  {{postUserName()}}<br/>
  {{postTitle()}}
</div>


<div *ngIf="!closed">
  <div class="row">
    <div class="col s8">
      {{postUserName()}}<br/>
      <span class="title">{{postTitle()}}</span>
    </div>

    <div *ngIf="editable" class="col s4 right-align">
      <!--
      a work-around so that the cursor changes to a pointer upon hovering; see:
      http://stackoverflow.com/questions/35639174/passive-link-in-angular-2-a-href-equivalent
      -->
      <a href="javascript:void(0)" (click)="deleteEntry()">
        <i class="material-icons grey-text darken-2">delete</i>
      </a>
      <a [routerLink]="['/end-user/post-entry/update', post.id]">
        <i class="material-icons grey-text darken-2">mode_edit</i>
      </a>
    </div>


    <!--
    need to think about this...in some views, if the post is owned by the
      authenticated user, then they should be able to edit the post....
    <div class="col s4 right-align">
      <a (click)="deleteEntry()">
        <i class="material-icons grey-text darken-2">delete</i>
      </a>
      <a (click)="updateEntry(journalEntry.id)">
        <i class="material-icons grey-text darken-2">mode_edit</i>
      </a>
    </div>
     -->
  </div>

  <!--
  need to think about this...in some views, if the post is owned by the
    authenticated user, then they should be able to edit the post....
  <div class="col s4 right-align">
    <a (click)="deleteEntry()">
      <i class="material-icons grey-text darken-2">delete</i>
    </a>
    <a (click)="updateEntry(journalEntry.id)">
      <i class="material-icons grey-text darken-2">mode_edit</i>
    </a>
  </div>
   -->

  <div class="row">
    <div class="col s12">

      <div *ngIf="allowTruncation">
        <p>
          {{postBody()}}
        </p>
        <div *ngIf="showMoreLess()">
          <br>
          <a class="grey-text darken-3" (click)="toggleAllowTruncation()">Read More... </a>
        </div>
      </div>

      <div *ngIf="!allowTruncation">
        <p>
          {{postBody()}}
        </p>
        <div *ngIf="showMoreLess()">
          <br>
          <a class="grey-text darken-3" (click)="toggleAllowTruncation()">Read Less</a>
        </div>
      </div>

      <br>
      <div class="grey-text darken-3 right">
        {{post.updatedAt | amTimeAgo}}
      </div>
      <br>
    </div>
  </div>
</div>
