<div *ngIf="errorMessage">
  <div class="card">
    <div class="card-content">
      <div><strong>There was an error:</strong> {{errorMessage}} </div>
      <div>Please try again....</div>
    </div>
    <div class="card-action">
      <a class="waves-effect waves-light btn" (click)="clearErrorMessage()">OK</a>
    </div>
  </div>
</div>

<!-- file drop/browse area -->
<div *ngIf="noUploadItem()" class="row">

  <p class="col s12 drop-title">
    Drop or browse image file:
  </p>

  <div class="col s12 m12 l6">
    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="my-drop-zone">
      Drop here
    </div>
  </div>



  <div class="col s12 m12 l6 btn-space">
    <!-- overriding native styling in css by setting display: none
    (see: http://stackoverflow.com/questions/572768/styling-an-input-type-file-button) -->
    <label class="btn waves-effect waves-light">
      Browse
      <input type="file" ng2FileSelect [uploader]="uploader"/><br/>
    </label>
  </div>


</div>


<div *ngIf="itemReadyForUpload()">
  <div class="card">
    <div class="card-content">
      <div class="row no-bottom-margin">
        <div class="col s12">
          <p class="selected-file-title"><strong>Selected file (upload or discard): </strong></p>
          <div>
            <span class="chip">
              {{uploader.queue[0]._file.name}}
            </span>
            <span class="right">
              <a *ngIf="!itemUploading()"
                (click)="uploadFile()"
                class="btn btn-floating pulse horizontal-space">
                <i class="material-icons">file_upload</i>
              </a>
              <a *ngIf="!itemUploading()"
                (click)="remove()"
                class="btn btn-floating pulse">
                <i class="material-icons">close</i>
              </a>
              <a *ngIf="itemUploading()"
                 (click)="cancelUpload()"
                 class="btn btn-floating">
                <i class="material-icons">close</i>
              </a>
            </span>
          </div>
        </div>
        <div *ngIf="itemUploading()" class="col s12 center-align">
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-cyan-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="itemUploadedSuccessfully()">
  <p class="selected-file-title">Uploaded file:</p>
  <div>
    <span class="chip">
      {{uploader.queue[0]._file.name}} ({{uploader.queue[0]._file.size | byteConversion : 4 }})
    </span>
    <span class="right">
      <a
        (click)="deleteFile()"
        class="btn btn-floating">
        <i class="material-icons">close</i>
      </a>
    </span>
  </div>
</div>

<!--
<div materialize [materializeParams]="['I am also a toast',4000]" [materializeActions]="globalActions"></div>
-->

<!--
<div *ngIf="itemReadyForUpload()">
  <div class="row">
    <div class="card col s12" style="margin-bottom: 40px">
      <div class="card-content">
        <span class="card-title"> Upload queue</span>
        <p>Queue length: {{numFiles}} </p>
        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Actions</th>
            <th>Progress</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue; let i=index">

            <td><strong>{{item._file.name}}</strong></td>

            <!-- not sure if we need the part about isHTML5
            <td *ngIf="uploader.isHTML5" nowrap>0.00 MB</td>
            <td *ngIf="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="determinate" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="material-icons left">check_circle</i></span>
              <span *ngIf="item.isCancel"><i class="material-icons left">cancel</i></span>
              <span *ngIf="item.isError"><i class="material-icons left">error_outline</i></span>
            </td>
            <td nowrap>
              <!-- could put buttons here instead, but they take up more room....
              <div *ngIf="item.isUploading">
                <a (click)="item.cancel()">
                  <i class="material-icons left">cancel</i>
                </a>
              </div>
              <div *ngIf="!item.isUploading">
                <!-- original code: <div (click)="item.upload()" [class.disabled]="item.isReady || item.isUploading || item.isSuccess">
                <div (click)="uploadItem(i)" [class.disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <i class="material-icons left icon-teal">file_upload</i>
                </div>
                <div (click)="item.remove()">
                  <i class="material-icons left icon-red">delete_forever</i>
                </div>
              </div>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
-->

<a class="waves-effect waves-light btn" (click)="dumpUploaderDetails()">uploader info</a>
