<div class="col s12 m6 l6">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Resources</span>
      <span class="right">
        <button materialize="dropdown"
                class="drop-down btn"
                data-activates="dropdownAddNewResource">
          Add</button>
      </span>
      <!-- Dropdown Structure for Choosing Practice -->
      <ul id='dropdownAddNewResource' class='dropdown-content'>
        <li *ngFor="let resource of resources; let i = index">
          <a (click)="addResource(resource)">
            {{ resource.type }}
          </a>
        </li>
      </ul>
      <div class='dragula-container' [dragula]='"resources-bag"' [dragulaModel]='resourcesThisReading'>
        <div *ngFor="let resource of resourcesThisReading">
          <app-update-resource-item
            [resource]="resource"
            [resourcePath]="resourcePath"
          ></app-update-resource-item>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Trigger -->
<a #myModalResourcePicker
   materialize="leanModal"
   [materializeParams]="[{dismissible: true}]"
   href="#modalUploadResource">
</a>
<!-- Modal Structure -->
<div id="modalUploadResource" class="modal">
  <div class="modal-content">
    <h4>Upload Image</h4>

    <app-upload-resource>
    </app-upload-resource>

  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
  </div>
</div>


