<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3 l6 offset-l3">
      <div class="card">
        <div class="card-title-bar">
          <span class="card-title">Success</span>
        </div>
        <div class="card-content">
          <p>
            Your account information has been updated successfully.
          </p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn" (click)="onContinue()">Continue</a>
        </div>
      </div>
    </div>
  </div>
</div>
