<div *ngIf="displaySummary && practiceData">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m3 l6 offset-l3">
        <app-practice-summary
          [practiceData] = "practiceData"
          [dateString] = "dateString"
          [readingIndex] = "readingIndex"
          [practiceIndex] = "practiceIndex"
          (onSummaryClosed)="launchPreparationPage($event)"
        >
        </app-practice-summary>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 offset-m3 l6 offset-l3 back-link">
        <a class="grey-text text-darken-2"
           [routerLink]="['/end-user/readings', dateString, readingIndex]">
          <i class="material-icons lr-arrow">navigate_before</i>
          Back to Scripture Engagement
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayPreparation && practiceData">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m3 l6 offset-l3">
        <app-practice-preparation
          [practiceData] = "practiceData"
          [dateString] = "dateString"
          [readingIndex] = "readingIndex"
          [practiceIndex] = "practiceIndex"
        >
        </app-practice-preparation>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 offset-m3 l6 offset-l3 back-link">
        <a class="grey-text text-darken-2"
           [routerLink]="['/end-user/readings', dateString, readingIndex]">
          <i class="material-icons lr-arrow">navigate_before</i>
          Back to Scripture Engagement
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayStep && practiceData">
  <div class="container">
    <div class="row">
      <div class="col s12 m10 offset-m1 l10 offset-l1 back-link">
        <a class="grey-text text-darken-2"
           [routerLink]="['/end-user/readings', dateString, readingIndex]">
          <i class="material-icons lr-arrow">navigate_before</i>
          Back to Scripture Engagement
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m10 offset-m1 l10 offset-l1">
        <app-practice-step
          [practiceData] = "practiceData"
          [dateString] = "dateString"
          [readingIndex] = "readingIndex"
          [practiceIndex] = "practiceIndex"
          [stepIndex] = "stepIndex"
        >
        </app-practice-step>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayStep && practiceData">
  <div class="container">
    <div class="row">
      <div class="col s12 m10 offset-m1 l10 offset-l1">
        <app-reading-item
          [reading]="readingsData.readings[readingIndex]"
          [includeNavigationBar]=false
          [numberReadings] = "numberReadings"
          [currentReadingIndex] = "currentReadingIndex"
          [dateString] = "dateString"
        >
        </app-reading-item>
      </div>
    </div>
  </div>
</div>





<simple-modal #readingPracticeSorry header="Sorry" message="The requested practice does not exist for this reading."></simple-modal>



<!--
<div *ngIf="singleReading">
  <div class="container">
    <div class="row">
      <div class="card col s12 m6 l4">
        <div class="card-content ">
          <span class="card-title">{{ singleReading.title }}</span>
          <div class="card-item">
            <p><b>{{ singleReading.description }}</b></p>
            <br>
            <p>{{ singleReading.text}}</p>
            <p>{{ singleReading.text}}</p>
          </div>
        </div>
        <div class="card-action">
          <a [routerLink]="['/end-user/readings']">Back</a>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card ">
          <div class="card-content ">
            <span class="card-title">How to Apply Lectio Divina</span>
            <div class="card-item">
              <p><b>{{ singleReading.description }}</b></p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus dictum ultricies. Sed maximus turpis arcu. Nulla ipsum dui, dapibus vitae commodo accumsan, consectetur eget felis. Aliquam tincidunt nisl ut feugiat tempor. Fusce eu facilisis risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sed turpis at diam pretium sodales eu eu metus. Mauris quis tempor metus, quis sollicitudin nibh. Aenean id nulla justo. Fusce tristique magna finibus leo tempus ornare.
              </p>
              <p>
                Praesent ac velit ac mi tincidunt molestie sit amet eu dolor. Duis sit amet est ligula. Aliquam bibendum maximus elit eget tincidunt. Proin non semper dui. Integer nec consequat nunc, et tincidunt risus. Fusce imperdiet id ligula eu bibendum. Curabitur venenatis dui et augue tincidunt, sit amet ultricies elit ultricies. Vestibulum a gravida nulla. Nam blandit, lacus eu commodo pretium, ex eros tincidunt odio, sed aliquet libero metus in justo. Nam in nunc justo. Nam pulvinar convallis placerat. Ut non molestie mi, nec cursus eros. Proin gravida rhoncus placerat.
              </p>
              <p>adsfsf</p>
            </div>
          </div>
          <div class="card-action">
            <a [routerLink]="['/end-user/readings']">Back</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card ">
          <div class="card-content ">
            <span class="card-title">Lectio Divina</span>
            <div class="card-item">
              <p><b>Nothing New</b></p>
              <p>
                There is nothing new about Scripture engagement! As I hope you’ve seen, Scripture engagement is thoroughly taught in the Scriptures. Christians have been developing and practicing various Scripture engagement techniques for hundreds of years. The goal of this website is not to introduce you to some new means of connecting with God. Our hope is to train people in tried and true methods of experiencing God through the Bible. One Scripture engagement technique that has a long and rich history, and that has been experiencing resurgence in recent years, is lectio divina.
              </p>
              <p></p>
              <p><b>What is Lectio Divina?</b></p>
              <p>
                Lectio divina (pronounced "lec-tsee-oh di-vee-nah"), Latin for “sacred reading,” “divine reading,” or “holy reading,” is a spiritual practice that has been in use for over a thousand years. It was originally practiced by monks who spent a large portion of their days praying and reading Scripture. While reading they noticed that at times individual words, phrases, or verses seemed to leap off of the page with a special personal importance. Have you had the same experience?
              </p>
            </div>
          </div>
          <div class="card-action">
            <a [routerLink]="['/end-user/readings']">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
