<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card">
        <div class="card-title-bar">
          <span class="card-title">Account</span>
        </div>

        <div *ngIf="currentUser">

          <div class="card-content">

            <div class="section">
              <h5>Information</h5>
              <div class="divider"></div>
              <br>
              <span class="row">
                <div class="col s6">
                  {{currentUser.fullName()}}
                </div>
                <div class="col s6 right-align">
                  <!-- https://angular.io/docs/ts/latest/api/router/index/RouterLink-directive.html -->
                  <a
                    [routerLink]="['/self-update']"
                    [queryParams]= "{field: 'name'}"> Update Name</a>
                </div>
              </span>
              <span class="row">
                <div class="col s6">
                  {{currentUser.email}}
                </div>
                <div class="col s6 right-align">
                  <a
                    [routerLink]="['/self-update']"
                    [queryParams]= "{field: 'email'}"> Update Email</a>
                </div>
              </span>
              <span class="row">
                <div class="col s6 offset-s6 right-align">
                  <a
                    [routerLink]="['/self-update']"
                    [queryParams]= "{field: 'password'}"> Update Password</a>
                </div>
              </span>
            </div>

            <div class="section">
              <h5>Group(s)</h5>
              <div class="divider"></div>
              <br>
              <span *ngIf = "currentUser.groups.length == 0">
                <div class="row">
                  <div class="col s12">
                    Not a member of any groups at present.
                  </div>
                </div>
              </span>
              <span *ngFor = "let group of currentUser.groups">
                <div class="row">
                  <div class="col s6">
                    {{group.name}}
                  </div>
                  <div class="col s6 right-align">
                    <!--<a> Leave Group</a>-->
                  </div>
                </div>
              </span>
            </div>

            <div class="section">
              <h5>Settings</h5>
              <div class="divider"></div>
              <br>
              <div class="row">
                <div class="col s6">
                  Verse Numbers
                </div>

                <div class="col s6">
                  On
                </div>
                <!-- Switch -->
                <!--
                <div class="col s6 switch">
                  <label>
                    off
                    <input type="checkbox">
                    <span class="lever"></span>
                    on
                  </label>
                </div>
                -->
              </div>
              <div class="row valign-wrapper">
                <div class="col s6 valign">
                  Default Translation
                </div>
                <div class="col s6 valign">
                  NKJV
                </div>
                <!--
                <div class="col s6 valign">
                  <a materialize="dropdown"
                     class='dropdown-button'
                     data-activates='preferencesTranslationsDropdownMenu'>
                    <span class="grey-text">
                        {{chosenTranslation}}
                      <i class="material-icons">arrow_drop_down</i>
                    </span>
                  </a>
                </div>
                -->
              </div>
            </div>

          </div>
        <!--
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
        -->
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Dropdown Structure -->
<ul id='preferencesTranslationsDropdownMenu' class='dropdown-content'>
  <li *ngFor="let translation of translations">
    <a>
      {{translation}}
    </a>
  </li>
</ul>
