<div class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">

    <div *ngIf="readingForm">

      <div class="container">

        <form [formGroup]="readingForm" novalidate (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col s12 ">
              <div class="card">
                <div class="card-content">

                  <span *ngIf="isNewReading" class="card-title">
                      Create New Reading
                  </span>
                  <span *ngIf="!isNewReading" class="card-title">
                    Update Reading
                  </span>
                  <div class="row">
                    <div class="col s12">
                      <passage-picker></passage-picker>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="osisRef">OSIS (e.g., Hos.1.2-Hos.1.10)</label>
                      <input
                        [input-wake-up]="'osisRef'"
                        [class.warning-background]="readingForm.controls.osisRef.errors && readingForm.controls.osisRef.touched"
                        id="osisRef"
                        type="text"
                        formControlName="osisRef">
                    </div>
                    <div *ngIf="readingForm.controls.osisRef.errors && readingForm.controls.osisRef.touched">
                      <small class="warning">
                        This field is required.
                      </small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="stdRef">Display (e.g., Hosea 1:2-10)</label>
                      <input
                        [input-wake-up]="'stdRef'"
                        [class.warning-background]="readingForm.controls.stdRef.errors && readingForm.controls.stdRef.touched"
                        id="stdRef"
                        type="text"
                        formControlName="stdRef">
                    </div>
                    <div *ngIf="readingForm.controls.stdRef.errors && readingForm.controls.stdRef.touched">
                      <small class="warning">
                        This field is required.
                      </small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="seq">Sequence Number (e.g., 1, 2,....)</label>
                      <input
                        [input-wake-up]="'seq'"
                        [class.warning-background]="readingForm.controls.seq.errors && readingForm.controls.seq.touched"
                        id="seq"
                        type="text"
                        formControlName="seq">
                    </div>
                    <div *ngIf="readingForm.controls.seq.errors && readingForm.controls.seq.touched">
                      <small class="warning">
                        {{readingForm.controls.seq.errors.error}}
                      </small>
                    </div>
                  </div>
                </div>
                <div class="card-action">
                  <button
                    class="waves-effect waves-light btn"
                    type="submit"
                    [class.disabled]="!readingForm.valid"
                    [disabled]="!readingForm.valid">Submit
                  </button>
                  <button
                    class="waves-effect waves-light btn right"
                    type="button"
                    (click)="onCancel()"
                  >Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
