<!-- http://stackoverflow.com/questions/37948504/angular2-set-href-in-attribute-directive -->

<div *ngIf="currentReading">
  <!-- Tab structure at the top of the page-->
  <div class="row">
    <div class="col s12">
      <ul class="tabs  hide-on-med-and-down" materialize="tabs">
        <li *ngFor="let reading of readings; let i = index" class="tab col s3">
          <a [class.active]="isActive(currentReading)" (click)="updateTab(reading)">
            {{ reading.description }}</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="hide-on-large-only nav-wrapper">
    <a class="brand-logo custom-nav center" href="#">{{ currentReading.description }}</a>
    <ul id="slide-out" class="side-nav">
      <li *ngFor="let reading of readings; let i = index">
        <a [class.active]="isActive(currentReading)"
           (click)="updateTab(reading)">{{ reading.description }}
        </a>
      </li>
    </ul>
    <a materialize="sideNav" [materializeParams]="[{edge:'left', closeOnClick: true}]" href="#"
       data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu material-icons">menu</i></a>
  </nav>


  <!-- Content of the Page -->
  <div class="container">
    <span class="row">
      <h5 class="brand-logo left">{{date | date}} (Fifth Sunday after Epiphany)</h5>
    </span>
    <!-- 'Reading' Card -->
    <div class="row">
      <div class="card col s12">
        <div class="card-content ">
          <div class="card-title">
            {{currentReading.title}}
          </div>
          <p>{{currentReading.description}}</p>
          <p>
            {{currentReading.text}}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Practices -->
        <app-update-practices
          [practicesThisReading]="currentReading.practices"
          [changeTracker]="changeTracker"
          (onUpdatePractice) = "onUpdatePractice($event)"
        >
        </app-update-practices>

      <!-- Resources
        <app-update-resources
          [resourceCollectionsThisReading]="currentReading.resourceCollections"
          [changeTracker]="changeTracker">
        </app-update-resources>

-->


      <!-- Other Resources -->
      <!--
      <div class="col s12 m16 l6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://fakeimg.pl/350x200/?text=Golgotha Image">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Golgotha<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Golgotha<i class="material-icons right">close</i></span>
            <p>Here is some more information about this image that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      -->

    </div>
  </div>
</div>
