<!-- Modal Structure for Editing Practice Advice -->
<div id="modalUpdateAdviceComponent" class="modal">
  <div class="modal-content">
    <div class="modal-advice-area">
      <!-- Text Area -->
      <div *ngIf="currentPractice">
        <div class="row">
          <div class="input-field col s12">
            <label class="active" for="textarea2">Advice for {{currentPractice.title}}</label>
            <textarea [(ngModel)]="textInput" id="textareaUpdateAdviceComponent"
                      class="materialize-textarea"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="modal-footer">
      <a (click)="updateAdvice()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      <a (click)="cancelReadingEdits()" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>
</div>


<!-- Modal Structure for Adding New Practice Advice -->

<div id="modalAddNewPracticeComponent" class="modal">
  <div class="modal-content">
    <div class="modal-advice-area">
      <!-- Dropdown Trigger for Choosing Practice -->
      <a materialize="dropdown" class='dropdown-button btn' href='#' data-activates='dropdownAddNewPracticeComponent'>
        <div *ngIf='currentPractice'>{{currentPractice.title}}</div>
        <div *ngIf='!currentPractice'>Choose Practice</div>
      </a>
      <!-- Dropdown Structure for Choosing Practice -->
      <ul id='dropdownAddNewPracticeComponent' class='dropdown-content'>
        <li *ngFor="let practice of unusedPractices; let i = index">
          <a (click)="setCurrentPractice(practice.id)">
            {{ practice.title }}
          </a>
        </li>
      </ul>

      <!-- Text Area -->
      <div *ngIf="currentPractice">
        <div class="row">
          <div class="input-field col s12">
            <label for="textarea1">Advice for {{currentPractice.title}}</label>
            <textarea [(ngModel)]="textInput" id="textareaAddNewAdvice"
                      class="materialize-textarea"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="modal-footer">
      <a (click)="updateAdvice()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      <a (click)="cancelReadingEdits()" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>


