.modal {
  //width: 95%;
  //width: 400px;
  max-height: 95% !important;
  max-width: 95% !important;
  //top: 2.5%;
  //top: 10px !important;
  //bottom: 10px !important;
}

.modal-content {
  padding: 0px !important;
}
