<div #imageContainer id="resource-item-modal"
     class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: false, opacity: 0.9, endingTop: getTop()}]"
     [materializeActions]="modalActions"
     [ngStyle]="modalStyle()"
     (init)="this.openModal()">

  <!--endingTop: '10%', // Ending top style attribute
  ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
  alert("Ready");
  console.log(modal, trigger);
  },
  complete: function() { alert('Closed'); } // Callback for Modal close
-->

  <a class="modal-close-icon">
    <i class="material-icons grey-text lighten-4 include-pointer" (click)="cancel()">close</i>
  </a>

  <div class="image">
    <img
      [src]="resources[currentIndex].fileUrl"
      [alt]="resources[currentIndex].caption"
      width="100%"
    />

    <!--
    <a *ngIf = "!showInfo" class="image-info-icon"
    >
      <i class="material-icons white-text include-pointer" (click)="toggleShowInfo()">info_outline</i>
    </a>


    <div *ngIf = "showInfo" class="image-info"
        [ngStyle]="infoStyle()"
    >
      <h5 class="center-align">{{resources[currentIndex].title}}</h5>

      <div class="description">{{resources[currentIndex].description}}</div>

      <div class="divider"></div>

      <div class="metadata">
        <p><strong> Artist: </strong>{{resources[currentIndex].creator}}</p>
        <p><strong> Date: </strong>{{resources[currentIndex].creationDate}}</p>
        <p><strong> Medium: </strong>{{resources[currentIndex].medium}}</p>
        <p><strong> Dimensions: </strong>{{resources[currentIndex].physicalDimensions}}</p>
        <p><strong> Current Location: </strong>{{resources[currentIndex].currentLocation}}</p>
      </div>

      <a class="image-action">
        <i class="material-icons grey-text darken-2 include-pointer" (click)="toggleShowInfo()">clear</i>
      </a>
    </div>
    -->

  </div>

    <!--
    <app-edit-user
      [userData] = "userData"
      [updateField] = "updateField"
    ></app-edit-user>
    -->


  <!--
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="getContainerDimensions()">info</a>
  </div>
  -->


</div>

