.step {
  padding-left: 10px;
}

.material-icons.lr-arrow {
  vertical-align: middle;
  padding-left: 0px;
}

.action-icons {
  padding-right: 0px;
}

.reading-button {
  padding-right: 0px;
  padding-bottom: 10px;
}

ul.collection.with-header.no-bottom-margin {
  margin-bottom: 0px;
  border-bottom: 0px;
}

ul.collection.no-top-bottom-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
}

