<div *ngIf="!readingsData && dateString">
  <ul class="collection with-header">
    <li class="collection-header"><h5>No readings yet for {{dateString | amDateFormat: 'LL'}}</h5></li>
  </ul>
</div>

<div *ngIf="readingsData">
  <ul class="collection with-header">
    <li class="collection-header"><h5>Readings for {{dateString | amDateFormat: 'LL'}}</h5></li>
    <li *ngFor="let reading of readingsData.readings; let rIndex=index" class="collection-item grey lighten-5">
      <span class="title"> {{reading.stdRef}}</span>
      <span class="right action-icons">
        <a (click)="displayReading(rIndex)"
          class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">pageview</i>
        </a>
        <a (click)="displayDeleteReadingModal(reading)"
          class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">delete_forever</i>
        </a>
        <a (click)="launchEditReadingModal(reading)"
          class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">edit</i>
        </a>
      </span>
      <ul *ngIf="reading.directions.length" class="collection">
        <li *ngFor="let direction of reading.directions; let aIndex=index" class="collection-item white">
          <app-display-direction-steps
            [readingIndex] = "rIndex"
            [directionIndex] = "aIndex"
            [direction]= "direction"
            (deleteDirection)="displayDeleteDirectionModal($event)"
            (editDirection)="launchEditPracticeModal($event)">
          </app-display-direction-steps>
        </li>

      </ul>

      <div *ngIf="!reading.directions.length">
        <p></p>
      </div>

      <a class="waves-effect waves-light btn secondary-content" (click)="launchNewPracticeModal(rIndex)">Add Practice</a>
      <p>
        <br>
      </p>

    </li>
  </ul>
</div>

<update-practice-form
  #updateDirectionModal
  [directionType] = "directionType"
  [incrementer] = "incrementer"
  [readingDay] = "readingsData"
  [readingIndex] = "readingIndex"
  [directionIndex] = "directionIndex"
  [isNewDirection] = "isNewDirection">
</update-practice-form>

<app-display-reading-modal
  #displayReadingModal
  [reading]="singleReading">
</app-display-reading-modal>

<app-delete-item-modal
  #deleteReadingModal
  [header]="'Delete Reading: '+singleReadingStdRef"
  [message]="'Are you sure you want to delete this reading and all of its associated practices and steps?  This action is not reversible.'"
  (deleteItem)="onDeleteReading($event)">
</app-delete-item-modal>

<app-delete-item-modal
  #deleteDirectionModal
  [header]="'Delete Practice: '+singleDirectionTitle"
  [message]="'Are you sure you want to delete this practice and all of its associated steps?  This action is not reversible.'"
  (deleteItem)="onDeleteDirection($event)">
</app-delete-item-modal>
