<div *ngIf="readingsData">

  <ul class="collection with-header no-bottom-margin">
    <li class="collection-header">
      <h5 class="invalid-handle">
        Readings for {{dateString | amDateFormat: 'LL'}}
      </h5>
    </li>
  </ul>
  <ul
    class="collection no-top-margin dragula-container"
    [dragula]='"readings-bag"'
    [dragulaModel]='readingsData.readings'>
    <li *ngFor="let reading of readingsData.readings; let rIndex=index"
        class="collection-item grey lighten-5">
      <span class="title"> {{reading.stdRef}}</span>
      <span class="right action-icons">
        <a (click)="displayReading(rIndex)"
           class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">pageview</i>
        </a>
        <a (click)="displayDeleteReadingModal(reading)"
           class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">delete_forever</i>
        </a>
        <a (click)="editReading(rIndex)"
           class="grey-text text-darken-2 include-pointer">
        <i class="material-icons lr-arrow">edit</i>
        </a>

        <i class="grey-text text-darken-2 material-icons lr-arrow"><span class="handle">swap_vert</span></i>

      </span>
      <ul *ngIf="reading.directions.length" class="collection">
        <li *ngFor="let direction of reading.directions; let aIndex=index" class="collection-item white">
          <app-display-direction-steps
            [editable]="false"
            [direction]= "direction">
          </app-display-direction-steps>
        </li>

      </ul>

      <div *ngIf="!reading.directions.length">
        <p></p>
      </div>
    </li>
  </ul>

  <span class="right reading-button">
      <a class="waves-effect waves-light btn secondary-content" (click)="navigateToAddReadingPage()">Add Reading</a>
  </span>

<app-display-reading-modal
  #displayReadingModal
  [reading]="singleReading">
</app-display-reading-modal>

<app-delete-item-modal
  #deleteReadingModal
  [header]="'Delete Reading: '+singleReadingStdRef"
  [message]="'Are you sure you want to delete this reading and all of its associated practices and steps?  This action is not reversible.'"
  (deleteItem)="onDeleteReading($event)">
</app-delete-item-modal>
