.step {
  padding-left: 10px;
}

.material-icons.lr-arrow {
  vertical-align: middle;
  padding-left: 0px;
}

.action-icons {
  padding-right: 20px;
}

.reading-button {
  padding-right: 20px;
  padding-bottom: 10px;
}

